{#<div{{ attributes }}>#}
{#    <!-- component HTML -->#}
{#</div>#}

{% if form.vars.block_prefixes.1 == 'integer' %}
    {% set typeField = 'number' %}
{% else %}
    {% set typeField = 'text' %}
{% endif %}

{{ form_label(form) }}
<div class="input-group">{# input-group-sm #}
    {{ form_widget(form) }}
    <span class="input-group-text" id="visible-addon">{{ entity }}</span>
</div>
{{ form_help(form) }}
{{ form_errors(form) }}
