{#<div{{ attributes }}>#}
{#    <!-- component HTML -->#}
{#</div>#}

<div class="float-end">
    <div class="list-group list-group-horizontal">
        <a href="{{ path(link, {'letter' : 'D'}) }}"
           {{ _self.highlight('D') }}
        >
            Class D
        </a>
        <a href="{{ path(link, {'letter' : 'C'}) }}"
           {{ _self.highlight('C') }}
        >
            Class C
        </a>
        <a href="{{ path(link, {'letter' : 'B'}) }}"
           {{ _self.highlight('B') }}
        >
            Class B
        </a>
        <a href="{{ path(link, {'letter' : 'A'}) }}"
           {{ _self.highlight('A') }}
        >
            Class A
        </a>
        <a href="{{ path(link, {'letter' : 'S'}) }}"
           {{ _self.highlight('S') }}
        >
            Class S
        </a>
    </div>
</div>

{% macro highlight(letter) %}
    {% if app.request.attributes.get('_route_params').letter == letter %}
        class="list-group-item fw-bold active bg-secondary border-secondary" aria-current="true"
    {% else %}
        class="list-group-item fw-bold"
    {% endif %}
{% endmacro %}
