<!-- component html -->
{#{{ attributes }}#}
<div class="float-end">
    <div class="list-group list-group-horizontal">
        <a href="{{ path(link, {'letter' : 'D'}) }}"
        {% if app.request.attributes.get('_route_params').letter == 'D' %}
            class="list-group-item active" aria-current="true"
        {% else %}
            class="list-group-item"
        {% endif %}
        >
            Class D
        </a>
        <a href="{{ path(link, {'letter' : 'C'}) }}"
        {% if app.request.attributes.get('_route_params').letter == 'C' %}
            class="list-group-item active" aria-current="true"
        {% else %}
            class="list-group-item"
        {% endif %}
        >
            Class C
        </a>
        <a href="{{ path(link, {'letter' : 'B'}) }}"
        {% if app.request.attributes.get('_route_params').letter == 'B' %}
            class="list-group-item active" aria-current="true"
        {% else %}
            class="list-group-item"
        {% endif %}
        >
            Class B
        </a>
        <a href="{{ path(link, {'letter' : 'A'}) }}"
        {% if app.request.attributes.get('_route_params').letter == 'A' %}
            class="list-group-item active" aria-current="true"
        {% else %}
            class="list-group-item"
        {% endif %}
        >
            Class A
        </a>
        <a href="{{ path(link, {'letter' : 'S'}) }}"
        {% if app.request.attributes.get('_route_params').letter == 'S' %}
            class="list-group-item active" aria-current="true"
        {% else %}
            class="list-group-item"
        {% endif %}
        >
            Class S
        </a>
    </div>
</div>
