{#{{ attributes }}>#}
<!-- component HTML -->
<td class="{{ classes.td }}">
    {{ component('ValueDate', {value: entity.createdAt}) }}
</td>
<td class="{{ classes.td }}">
    {{ component('ValueDate', {value: entity.updatedAt}) }}
</td>
