{% extends '@App/bases/full.html.twig' %}

{% block datas %}
{{ form_start(form) }}
    <div class="row bg-secondary">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">{{ form_row(form.star1) }}</div>
        <div class="col">{{ form_row(form.star2) }}</div>
        <div class="col">{{ form_row(form.star3) }}</div>
        <div class="col">{{ form_row(form.star4) }}</div>
        <div class="col">{{ form_row(form.star5) }}</div>
        <div class="col">{{ form_row(form.star6) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_rest(form) }}</div>
    </div>

    {{ component('FormSaveDatas', {link: index}) }}
{{ form_end(form) }}

{% if items.3 == 'update' %}
    {{ component('FormDeleteDatas', {link: 'admin.setting.blueprint.delete', id: setting_blueprint.id}) }}
{% endif %}

{% endblock %}
