{% extends '@App/bases/back/page-index.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.star1 }}</td>
        <td>{{ item.star2 }}</td>
        <td>{{ item.star3 }}</td>
        <td>{{ item.star4 }}</td>
        <td>{{ item.star5 }}</td>
        <td>{{ item.star6 }}</td>
        <td>{{ item.total }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.setting.blueprint.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 11}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.legend() }}
</thead>
<tfoot>
    {{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.id' | trans }}</th>
    <th>{{ 'table.star1' | trans }}</th>
    <th>{{ 'table.star2' | trans }}</th>
    <th>{{ 'table.star3' | trans }}</th>
    <th>{{ 'table.star4' | trans }}</th>
    <th>{{ 'table.star5' | trans }}</th>
    <th>{{ 'table.star6' | trans }}</th>
    <th>{{ 'table.total' | trans }}</th>
    <th>{{ 'table.slug' | trans }}</th>
    <th>{{ 'table.date.created.at' | trans }}</th>
    <th>{{ 'table.date.updated.at' | trans }}</th>
    <th>{{ 'table.actions' | trans }}</th>
</tr>
{% endmacro %}
