{% extends '@App/bases/back/page-index.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.label }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.classOrder }}</td>
        <td>{{ item.carsNumber }}</td>
        <td>{{ item.median }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.setting.class.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 10}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.legend() }}
</thead>
<tfoot>
    {{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.id' | trans }}</th>
    <th>{{ 'table.level' | trans }}</th>
    <th>{{ 'table.value' | trans }}</th>
    <th>{{ 'table.order' | trans }}</th>
    <th>{{ 'table.number' | trans }}</th>
    <th>{{ 'table.median' | trans }}</th>
    <th>{{ 'table.slug' | trans }}</th>
    <th>{{ 'table.date.created.at' | trans }}</th>
    <th>{{ 'table.date.updated.at' | trans }}</th>
    <th>{{ 'table.actions' | trans }}</th>
</tr>
{% endmacro %}
