{% extends '@App/bases/back/page-index.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.level01 | number_format }}</td>
        <td>{{ item.level02 | number_format }}</td>
        <td>{{ item.level03 | number_format }}</td>
{#        <td>{{ item.level04 | number_format }}</td>#}
{#        <td>{{ item.level05 | number_format }}</td>#}
{#        <td>{{ item.level06 | number_format }}</td>#}
{#        <td>{{ item.level07 | number_format }}</td>#}
{#        <td>{{ item.level08 | number_format }}</td>#}
{#        <td>{{ item.level09 | number_format }}</td>#}
{#        <td>{{ item.level10 | number_format }}</td>#}
        <td>{{ item.level11 | number_format }}</td>
        <td>{{ item.level12 | number_format }}</td>
        <td>{{ item.level13 | number_format }}</td>
        <td>{{ item.common | number_format }}</td>
        <td>{{ item.rare | number_format }}</td>
        <td>{{ item.epic | number_format }}</td>
        <td>{{ item.slug }}</td>
{#        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>#}
{#        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>#}
        {{ component('TableAction', {id: item.id, link: 'app.setting.unit-price.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 21}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.legend() }}
</thead>
<tfoot>
    {{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.id'|trans }}</th>
    <th>{{ 'table.level01'|trans }}</th>
    <th>{{ 'table.level02'|trans }}</th>
    <th>{{ 'table.level03'|trans }}</th>
{#    <th>{{ 'table.level04'|trans }}</th>#}
{#    <th>{{ 'table.level05'|trans }}</th>#}
{#    <th>{{ 'table.level06'|trans }}</th>#}
{#    <th>{{ 'table.level07'|trans }}</th>#}
{#    <th>{{ 'table.level08'|trans }}</th>#}
{#    <th>{{ 'table.level09'|trans }}</th>#}
{#    <th>{{ 'table.level10'|trans }}</th>#}
    <th>{{ 'table.level11'|trans }}</th>
    <th>{{ 'table.level12'|trans }}</th>
    <th>{{ 'table.level13'|trans }}</th>
    <th>{{ 'table.common'|trans }}</th>
    <th>{{ 'table.rare'|trans }}</th>
    <th>{{ 'table.epic'|trans }}</th>
    <th>{{ 'table.slug'|trans }}</th>
{#    <th>{{ 'table.date.created.at'|trans }}</th>#}
{#    <th>{{ 'table.date.updated.at'|trans }}</th>#}
    <th>{{ 'table.actions'|trans }}</th>
</tr>
{% endmacro %}
