
<section class="{{ container|default('container') }} mb-2">
    <div class="card">
        <div class="card-header bg-secondary py-1">
            <h2 class="h6 text-center m-0">{{ 'text.blueprint'|trans|plural }}</h2>
        </div>
        <div class="card-body p-2">
            <table class="table table-striped table-bordered mb-0">
                <thead>
                    <tr>
                        <th class="text-center">{{ form_label(form.blueprint.0.star1, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.blueprint.0.star2, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.blueprint.0.star3, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.blueprint.0.star4, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.blueprint.0.star5, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.blueprint.0.star6, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center"><label class="fw-light m-0 p-0 form-label" for="{{ 'text.total'|trans }}">{{ 'text.total'|trans }}</label></th>
                    </tr>
                </thead>
                <tbody>
                    {% set class = 'text-center fw-bolder form-control form-control-sm' %}
                    <tr>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star1, {attr: {'max': entity.settingBlueprint.star1}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star1 }}" value="{{ entity.settingBlueprint.star1 }}" />
                                {{ _self.total(entity.settingBlueprint.star1, form.blueprint.0.star1) }}
                            </div>
                        </td>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star2, {attr: {'max': entity.settingBlueprint.star2}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star2 }}" value="{{ entity.settingBlueprint.star2 }}" />
                                {{ _self.total(entity.settingBlueprint.star2, form.blueprint.0.star2) }}
                            </div>
                        </td>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star3, {attr: {'max': entity.settingBlueprint.star3}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star3 }}" value="{{ entity.settingBlueprint.star3 }}" />
                                {{ _self.total(entity.settingBlueprint.star3, form.blueprint.0.star3) }}
                            </div>
                        </td>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star4, {attr: {'max': entity.settingBlueprint.star4}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star4 }}" value="{{ entity.settingBlueprint.star4 }}" />
                                {{ _self.total(entity.settingBlueprint.star4, form.blueprint.0.star4) }}
                            </div>
                        </td>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star5, {attr: {'max': entity.settingBlueprint.star5}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star5 }}" value="{{ entity.settingBlueprint.star5 }}" />
                                {{ _self.total(entity.settingBlueprint.star5, form.blueprint.0.star5) }}
                            </div>
                        </td>
                        <td class="py-1 px-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.blueprint.0.star6, {attr: {'max': entity.settingBlueprint.star6}}) }}
                                <input type="text" autocomplete="off" class="{{ class }}" max="{{ entity.settingBlueprint.star6 }}" value="{{ entity.settingBlueprint.star6 }}" />
                                {{ _self.total(entity.settingBlueprint.star6, form.blueprint.0.star6) }}
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
    {#                    <td class="p-0">{{ form_widget(form.statMin.0.speed) }}</td>#}
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

{% macro total(valueMax, actualValue) %}
    {% set class = 'text-center fw-bolder form-control form-control-sm' %}
    {% if valueMax == 'Key' or actualValue == 'Key' %}
        {% set total = 'Key' %}
    {% elseif valueMax == 'Key' or actualValue == 'Key' %}
        {% set total = null %}
    {% else %}
        {% if actualValue is not empty %}
            {% set total = (valueMax - actualValue) %}
        {% else %}
            {% set total = (valueMax - 0) %}
        {% endif %}
    {% endif %}
    <input type="text" autocomplete="off" class="{{ class }}" max="" value="{{ total }}" />
{% endmacro %}
