
<section class="{{ container|default('container') }} mb-2">
    <div class="card">
        <div class="card-header bg-dark-subtle py-1">
            <h2 class="h6 text-center m-0">{{ 'text.garage'|trans|plural }}</h2>
        </div>
        <div class="card-body pt-0">
            <div class="card-group">
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="card-group">
<div class="card">
    <div class="card-header text-center py-1">
        <label class="m-0 form-label" for="median">{{ 'text.median'|trans }}</label>
    </div>
    <div class="card-body p-1">
        <input type="text" id="median" class="{{ classes.input }} bg-body-tertiary" value="{{ entity.settingClass.median }}" disabled="disabled" />
    </div>
</div>
<twig:FormGarageMultiple classNumber="{{ entity.settingClass.carsNumber }}" form="{{ form.carOrder }}" />
<twig:FormGarageMultiple classNumber="{{ entity.settingClass.carsNumber }}" label="{{ 'text.order.stat'|trans }}" value="{{ entity.statOrder }}" />
            </div>
        </div>
        <div class="card-body pt-0">
            <div class="card-group">
<twig:FormGarageSimple form="{{ form.settingBlueprint }}" />
<twig:FormGarageSimple form="{{ form.settingLevel }}" />
<twig:FormGarageSimple form="{{ form.settingUnitPrice }}" />
            </div>
        </div>
    </div>
</section>
