
<section class="{{ container|default('container') }} mb-2 px-0">
    <div class="row row-cols-5">
        <div class="col-4">
            <twig:FormGroup1Value form="{{ form.settingBrand }}" />
        </div>
        <div class="col-5">
            <twig:FormGroup1Value form="{{ form.model }}" />
        </div>
        <div class="col-1">
            <twig:FormGroup1Value form="{{ form.settingClass }}" />
        </div>
        <div class="col-1">
            <twig:FormGroup1Value form="{{ form.stars }}" />
        </div>
        <div class="col-1">
            <twig:FormGroup1Value form="{{ form.gameUpdate }}" />
        </div>
    </div>
    <div class="row row-cols-9">
        <div class="col-1">
            <twig:FormGroup2Values form="{{ form.level }}" entity="{{ entity.settingLevel.level }}" />
        </div>
        <div class="col-1">
            <twig:FormGroup2Values form="{{ form.epic }}" entity="{{ entity.settingLevel.epic }}" />
        </div>
        <div class="col-1">
            <twig:FormGroup2Values form="{{ form.carOrder }}" entity="{{ entity.settingClass.carsNumber }}" />
        </div>
        <div class="col-1">
            <twig:InputGroup2Values form="{{ entity.statOrder }}" entity="{{ entity.settingClass.carsNumber }}" label="{{ 'text.order.stat'|trans }}" />
        </div>
{#        <div class="col-1">#}
{#            <twig:FormGroup1Value form="{{ form.unblock }}" />#}
{#        </div>#}
{#        <div class="col-1">#}
{#            <twig:FormGroup1Value form="{{ form.gold }}" />#}
{#        </div>#}
        <div class="col-3">
            <twig:FormGroup1Value form="{{ form.settingBlueprint }}" />
        </div>
        <div class="col-2">
            <twig:FormGroup1Value form="{{ form.settingLevel }}" />
        </div>
        <div class="col-3">
            <twig:FormGroup1Value form="{{ form.settingUnitPrice }}" />
        </div>
    </div>
</section>
