<section class="{{ container|default('container') }} mb-2">
    <div class="card">
        <div class="card-header bg-secondary py-1">
            <h2 class="h6 text-center m-0">{{ 'text.rank'|trans|plural }}</h2>
        </div>
        <div class="card-body p-2">
            <table class="table table-striped table-bordered mb-0">
                <thead>
                    <tr>
                        <th class="text-center">{{ form_label(form.rank.0.star0, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star1, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star2, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star3, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star4, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star5, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                        <th class="text-center">{{ form_label(form.rank.0.star6, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-0">{{ form_widget(form.rank.0.star0) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star1) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star2) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star3) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star4) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star5) }}</td>
                        <td class="p-0">{{ form_widget(form.rank.0.star6) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
