
<div class="card">
    <div class="card-header bg-dark-subtle py-1">
        <h2 class="h6 text-center m-0">{{ 'text.stat'|trans|plural }}</h2>
    </div>
    <div class="card-body pt-0">
        <div class="card-group">
{{ _self.statCard(form.statMax.0.speed, form.statMin.0.speed, true) }}
{{ _self.statCard(form.statMax.0.acceleration, form.statMin.0.acceleration, true) }}
{{ _self.statCard(form.statMax.0.handling, form.statMin.0.handling, true) }}
{{ _self.statCard(form.statMax.0.nitro, form.statMin.0.nitro, true) }}
{{ _self.statCard(entity.statMax.0.average, entity.statMin.0.average, false) }}
        </div>
    </div>
</div>

{% macro statCard(maxValue, minValue, formBool) %}

<div class="card">

    {% if formBool == true %}
    <div class="card-header text-center py-1">
        {{ form_label(maxValue) }}
    </div>
    <div class="card-body px-3 py-1">
        {{ form_widget(minValue) }}
    </div>
    <div class="card-footer px-3 py-1">
        {{ form_widget(maxValue) }}
    </div>

    {% else %}
        {% set class = 'text-center fw-bolder m-0 p-0 form-control-plaintext form-control-sm' %}
    <div class="card-header text-center py-1">
        <label>{{ 'text.average'|trans }}</label>
    </div>
    <div class="card-body px-3 py-1">
        <label>
            <input type="text" class="{{ class }}" inputmode="decimal" value="{{ minValue }}" readonly>
        </label>
    </div>
    <div class="card-footer px-3 py-1">
        <label>
            <input type="text" class="{{ class }}" inputmode="decimal" value="{{ maxValue }}" readonly>
        </label>
    </div>
    {% endif %}
</div>

{% endmacro %}
