
<div class="card">
    <div class="card-header bg-dark-subtle py-1">
        <h2 class="h6 text-center m-0">{{ 'text.upgrade'|trans|plural }}</h2>
    </div>
    <div class="card-body p-2">
        <table class="table table-striped table-bordered mb-0">
            <thead>
                <tr>
                    <th class="text-center">{{ form_label(form.upgrade.0.speed, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.acceleration, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.handling, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.nitro, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.common, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.rare, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                    <th class="text-center">{{ form_label(form.upgrade.0.epic, '', {'label_attr': {'class': 'fw-light m-0 p-0'}}) }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-0">{{ form_widget(form.upgrade.0.speed, {attr: {'max': entity.settingLevel.level}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.acceleration, {attr: {'max': entity.settingLevel.level}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.handling, {attr: {'max': entity.settingLevel.level}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.nitro, {attr: {'max': entity.settingLevel.level}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.common, {attr: {'max': entity.settingLevel.common}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.rare, {attr: {'max': entity.settingLevel.rare}}) }}</td>
                    <td class="p-0">{{ form_widget(form.upgrade.0.epic, {attr: {'max': entity.settingLevel.epic}}) }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    {{ _self.diff(entity.level, form.upgrade.0.acceleration.vars.value) }}
                    {{ _self.diff(entity.level, form.upgrade.0.acceleration.vars.value) }}
                    {{ _self.diff(entity.level, form.upgrade.0.handling.vars.value) }}
                    {{ _self.diff(entity.level, form.upgrade.0.nitro.vars.value) }}
                    {{ _self.diff(entity.settingLevel.common, form.upgrade.0.common.vars.value) }}
                    {{ _self.diff(entity.settingLevel.rare, form.upgrade.0.rare.vars.value) }}
                    {{ _self.diff(entity.epic, form.upgrade.0.epic.vars.value) }}
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% macro diff(levelMax, levelActual) %}
    {% set class = 'text-center text-info fw-bolder m-0 p-0 form-control-plaintext form-control-sm' %}
    {% set result = (levelMax - levelActual) %}
    <td class="p-0">
    {% if result != 0 %}
        <label class="m-0"><input type="text" class="{{ class }} text-info" value="{{ result }}" disabled /></label>
    {% else %}
        <label class="m-0"><input type="text" class="{{ class }} text-info" value="" disabled /></label>
    {% endif %}
    </td>
{% endmacro %}
