{% extends '@App/bases/full.html.twig' %}

{% block datas %}
<table class="{{ classes.table_index }}">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-start">Car</th>
            <th class="text-center">Game</th>
            <th class="text-center">Level</th>
            <th class="text-center">Epic</th>
            <th class="text-center">Locked</th>
            <th class="text-center">BP</th>
            <th class="text-center">Gold</th>
            <th class="text-center">2Unl.</th>
            <th class="text-center">2Gold</th>
            <th class="text-center">2Upg.</th>
            <th class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in results %}
{#        {% cache 'cacheFilter-'~item.garage.id ttl(item.garage.updatedAt.timestamp) %}#}
        <tr>
            <td class="text-center">{{ loop.index }}</td>
            <td class="text-start">
                <a href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank">
                    {{ item.brand }} {{ item.model }}
                </a>
            </td>
            <td class="text-center">{{ item.gameUpdate }}</td>
            <td class="text-center">{{ item.level }}</td>
            <td class="text-center">{{ item.epic }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.locked}) }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.fullBlueprint}) }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.gold}) }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.toUnlock}) }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.toGold}) }}</td>
            <td class="text-center">{{ component('Boolean', {value: item.toUpgrade}) }}</td>
            <td class="text-end">{{ component('ButtonEdit', { path: 'app.garage.update', id: item.id, slug: item.slug, target: true }) }}</td>
        </tr>
{#        {% endcache %}#}

        {% else %}
            {{ component('NoRecords', { value: 12 }) }}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/override-table.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
