{% extends '@App/bases/front/full.html.twig' %}

{% set background, text = '', '' %}

{% if entity.status.unblock == false %}
    {% set background = 'bg-danger-subtle' %}
    {% if entity.status.toUpgrade == true %}
        {% set text   = 'text-primary' %}
    {% else %}
        {% set text   = 'text-danger' %}
    {% endif %}
{% endif %}

{% if entity.status.unblock == true %}
    {% set background = 'bg-success-subtle' %}
    {% if entity.status.toUpgrade == true %}
        {% set text   = 'text-primary' %}
    {% else %}
        {% set text   = 'text-success' %}
    {% endif %}
{% endif %}

{% if entity.status.unblock == true and entity.status.gold == true %}
    {% set background = 'bg-warning-subtle' %}
    {% set text       = 'text-warning' %}
{% endif %}

{% block content %}

    <section class="d-flex align-items-center justify-content-center {{ background }}">
        <div class="col-md-10">
{#            {% include "@App/contents/front/garage/_title.html.twig" %}#}
        </div>
        <div class="col-md-auto">
            <input type="radio" class="btn-check" name="mode" id="option1" value="expert">
            <label class="btn btn-secondary" for="option1">{{ 'text.screen.mode'|trans ~ 'text.expert'|trans }}</label>

            <input type="radio" class="btn-check" name="mode" id="option2" value="normal" checked>
            <label class="btn btn-secondary" for="option2">{{ 'text.screen.mode'|trans ~ 'text.normal'|trans }}</label>
        </div>
    </section>

    <section class="row">

    {{ form_start(form) }}
        {% include '@App/contents/front/garage/update/garage.html.twig' %}

        {% include '@App/contents/front/garage/update/status.html.twig' %}

        <div class="row row-cols-2 mb-md-3">
            <div class="col-md-4">
                {% include '@App/contents/front/garage/update/upgrade.html.twig' %}
                {% include '@App/contents/front/garage/update/stat.html.twig' %}
            </div>
            <div class="col-md-8">
                {% include '@App/contents/front/garage/update/blueprint.html.twig' %}
                {% include '@App/contents/front/garage/update/rank.html.twig' %}
            </div>
        </div>

        <div class="row row-cols-2">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
            </div>
        </div>

        {% include "@App/contents/front/garage/update/_button.html.twig" %}

        {{ form_rest(form) }}

    {{ form_end(form) }}
    </section>

    <section class="row mt-1">
        {% include '@App/contents/front/garage/delete.html.twig' %}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script src="{{ asset('scripts/switch-mode-expert-normal.js') }}" defer></script>#}
{% endblock %}

