
        <div class="sticky-top">
            <h6 class="h4 text-center">{{ 'text.action'|trans|plural }}</h6>
            <a
                href="{{ path(links.index) }}"
                class="{{ classes.button.back }} btn-lg rounded-top-5 rounded-bottom-0 mb-3 w-100"
            >
                {{ 'btn.back'|trans }}
            </a>
            {{ include('@App/theme-lte/contents/front/garage/delete.html.twig') }}
        </div>
