
<div class="card-title">
    <h4 class="text-center">
        {{ 'text.garage'|trans }}
    </h4>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>{{ 'text.brand'|trans }}</th>
            <th>{{ 'text.model'|trans }}</th>
            <th>{{ 'text.class'|trans }}</th>
            <th>{{ 'text.game.update'|trans }}</th>
            <th>{{ 'text.stars'|trans }}</th>
            <th>{{ 'text.level'|trans }}</th>
            <th>{{ 'text.epic'|trans }}</th>
            <th>{{ 'text.order.class'|trans }}</th>
            <th>{{ 'text.order.stat'|trans }}</th>
            <th>{{ 'text.evo'|trans }}</th>
            <th>{{ 'text.division'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ entity.settingBrand.name }}</td>
            <td>{{ entity.model }}</td>
            <td>{{ entity.settingClass.value }}</td>
            <td>{{ entity.gameUpdate }}</td>
            <td>{{ entity.stars }}</td>
            <td>{{ entity.level ~ ' / ' ~ entity.settingLevel.level }}</td>
            <td>{{ entity.epic ~ ' / ' ~ entity.settingLevel.epic }}</td>
            <td>{{ entity.carOrder  ~ ' / ' ~ entity.settingClass.carsNumber }}</td>
            <td>{{ entity.statOrder  ~ ' / ' ~ entity.settingClass.carsNumber }}</td>
            <td>{{ entity.evo }}</td>
            <td>{{ entity.gauntlet.division }}</td>
        </tr>
    </tbody>
</table>
