
<div class="card-title">
    <h4 class="text-center">
        {{ 'text.rank'|trans|plural }}
    </h4>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>{{ 'text.start'|trans }}</th>
            <th>{# <twig:ValueIcon repeat="{{ 1 }}" icon="fa-solid fa-star" /> #}</th>
            <th>{# <twig:ValueIcon repeat="{{ 2 }}" icon="fa-solid fa-star" /> #}</th>
            <th>{# <twig:ValueIcon repeat="{{ 3 }}" icon="fa-solid fa-star" /> #}</th>
            <th>{# <twig:ValueIcon repeat="{{ 4 }}" icon="fa-solid fa-star" /> #}</th>
            <th>{# <twig:ValueIcon repeat="{{ 5 }}" icon="fa-solid fa-star" /> #}</th>
            <th>{# <twig:ValueIcon repeat="{{ 6 }}" icon="fa-solid fa-star" /> #}</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>
                {{ entity.rank.star0 }}
            </td>
            <td>
                {{ entity.rank.star1 }}
            </td>
            <td>
                {{ entity.rank.star2 }}
            </td>
            <td>
                {{ entity.rank.star3 }}
            </td>
            <td>
                {{ entity.rank.star4 }}
            </td>
            <td>
                {{ entity.rank.star5 }}
            </td>
            <td>
                {{ entity.rank.star6 }}
            </td>
        </tr>
    </tbody>
</table>
