{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th>Name</th>
                <th class="text-center">Cars Number</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td class="text-center">{{ brand.id }}</td>
                <td>{{ brand.name }}</td>
                <td class="text-center">{{ brand.carsNumber }}</td>
                <td>{{ brand.slug }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: brand.id, slug: brand.slug, path: 'admin.setting.brand.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 5}) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
