{% extends '@App/bases/back/full.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.carsNumber }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.setting.brand.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 7}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.tr() }}
</thead>
<tfoot>
    {{ _self.tr() }}
</tfoot>
{% endblock %}

{% macro tr() %}
<tr>
    <th>{{ 'table.id' | trans }}</th>
    <th>{{ 'table.name' | trans }}</th>
    <th>{{ 'table.number' | trans }}</th>
    <th>{{ 'table.slug' | trans }}</th>
    <th>{{ 'table.createdat' | trans }}</th>
    <th>{{ 'table.updatedat' | trans }}</th>
    <th>{{ 'table.actions' | trans }}</th>
</tr>
{% endmacro %}
