{% extends '@App/bases/back/page-index.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.race.region.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 6}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.legend() }}
</thead>
<tfoot>
    {{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
    <tr>
        <th>{{ 'table.id' | trans }}</th>
        <th>{{ 'table.name' | trans }}</th>
        <th>{{ 'table.slug' | trans }}</th>
        <th>{{ 'table.date.created.at' | trans }}</th>
        <th>{{ 'table.date.updated.at' | trans }}</th>
        <th>{{ 'table.actions' | trans }}</th>
    </tr>
{% endmacro %}
