{% extends '@App/bases/back/full.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.nameEnglish }}</td>
        <td>{{ item.nameFrench }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.race.track.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 7}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.tr() }}
</thead>
<tfoot>
    {{ _self.tr() }}
</tfoot>
{% endblock %}

{% macro tr() %}
    <tr>
        <th>{{ 'table.id' | trans }}</th>
        <th>{{ 'table.name.english' | trans }}</th>
        <th>{{ 'table.name.french' | trans }}</th>
        <th>{{ 'table.slug' | trans }}</th>
        <th>{{ 'table.createdat' | trans }}</th>
        <th>{{ 'table.updatedat' | trans }}</th>
        <th>{{ 'table.actions' | trans }}</th>
    </tr>
{% endmacro %}
