
{# title #}
{% if this.title() is null %}
    {% if form.vars.value.filter == '-' %}
        {% set title = form.vars.value.label %}
    {% else %}
        {% set title = form.vars.value.filter ~ ' ' ~ form.vars.value.label %}
    {% endif %}
{% else %}
    {% set title = this.title() %}
{% endif %}

{# percent #}
{% set percent = (form.vars.value.value / maxValue * 100) %}

<div class="col"{{ attributes }}>
    <!-- component HTML -->

    <div class="card card-inventory">

        <!-- Header -->
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between gap-xxl-4">
                <div class="icon-circle {{ this.theme() }}">{{ this.icon()|raw }}</span></div>
                <h2 class="h5 fw-bold text-uppercase {{ this.theme() }}"><label for="value">{{ title }}</label></h2>
            </div>
        </div>

        <!-- Body -->
        <div class="card-body">

            {{ form_start(form) }}
            <input
                type="text"
                id="{{ form.vars.value.id }}"
                name="{{ field_name(form.children.value) }}"
                required="required"
                autocomplete="off"
                autocapitalize="none"
                class="{{ form.children.value.vars.attr.class }} {{ this.theme() }}"
                inputmode="decimal"
                max="{{ maxValue }}"
                min="{{ 0 }}"
                maxlength="10"
                minlength="0"
                placeholder="{{ title }}"
                tabindex="{{ form.vars.value.position }}"
                value="{{ field_value(form.children.value)|number_format }}"
                aria-label="{{ title|trans }}"
                aria-describedby="{{ title|trans }}"
                hx-post="{{ path('ajax.dashboard.inventory') }}"
                hx-target="#flash-messages"
                hx-trigger="change"
            />

            {% if form.vars.errors|length > 0 %}
                {{ form_errors(form) }}
            {% endif %}
            {{ form_end(form) }}

        </div>

        <!-- Footer -->
        {% if this.show is true %}
        <div class="card-footer">
            <div class="d-flex align-items-center gap-xxl-4 mt-xxl-3">
                <div class="progress flex-grow-1">
                    <div id="progressBar" class="progress-bar" style="width: {{ percent|number_format(0) }}%"></div>
                </div>
                <small id="percentText">{{ percent|number_format(0) }}%</small>
            </div>
        </div>
        {% endif %}

    </div>

</div>
