{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Week</th>
                <th>Region</th>
                <th>Track</th>
                <th>Class</th>
                <th>Brand</th>
                <th>Description</th>
                <th class="text-center">Success</th>
                <th class="text-center">Target</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td class="text-center">{{ mission.id }}</td>
                <td class="text-center">{{ mission.week }}</td>
                <td>{{ mission.region }}</td>
                <td>{{ mission.track }}</td>
                <td>{{ mission.class }}</td>
                <td>{{ mission.brand }}</td>
                <td>{{ mission.description }}</td>
                <td class="text-center">{{ mission.success }}</td>
                <td class="text-center">{{ mission.target }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: mission.id, slug: null, path: 'app.mission.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 10}) }}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
