
<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-rocket', maxValue: 999, form: speed_d}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-rocket', maxValue: 999, form: speed_c}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-rocket', maxValue: 999, form: speed_b}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-rocket', maxValue: 999, form: speed_a}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-rocket', maxValue: 999, form: speed_s}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration_d}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration_c}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration_b}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration_a}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gauge-high', maxValue: 999, form: acceleration_s}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gear', maxValue: 999, form: handling_d}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gear', maxValue: 999, form: handling_c}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gear', maxValue: 999, form: handling_b}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gear', maxValue: 999, form: handling_a}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-gear', maxValue: 999, form: handling_s}) }}
    </div>
</div>

<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-fire', maxValue: 999, form: nitro_d}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-fire', maxValue: 999, form: nitro_c}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-fire', maxValue: 999, form: nitro_b}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-fire', maxValue: 999, form: nitro_a}) }}
        {{ component('FormFrontInventory', {color: 'primary', icon: 'fa-fire', maxValue: 999, form: nitro_s}) }}
    </div>
</div>
