
<div class="row mb-2">
    <div class="card-group">
        {{ component('FormFrontInventory', {color: 'danger-emphasis', icon: null, maxValue: 6, form: joker_5_b}) }}
        {{ component('FormFrontInventory', {color: 'danger-emphasis', icon: null, maxValue: 8, form: joker_4_b}) }}
        {{ component('FormFrontInventory', {color: 'danger-emphasis', icon: null, maxValue: 10, form: joker_3_b}) }}
        {{ component('FormFrontInventory', {color: 'danger-emphasis', icon: null, maxValue: 10, form: joker_2_b}) }}
        {{ component('FormFrontInventory', {color: 'danger-emphasis', icon: null, maxValue: 10, form: joker_1_b}) }}
    </div>
</div>
