
<table class="{{ classes.table }} table-responsive">
    <tbody>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.garage'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.total.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.total.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.total.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.total.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.total.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.total.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.unblock'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.unblock.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.unblock.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.unblock.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.unblock.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.unblock.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.unblock.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.block'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.block.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.block.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.block.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.block.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.block.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.block.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.gold'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.gold.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.gold.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.gold.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.gold.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.gold.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.gold.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.to.upgrade'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUpgradeLevel.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUpgradeLevel.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUpgradeLevel.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUpgradeLevel.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUpgradeLevel.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.toUpgradeLevel.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.to.unblock'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUnblock.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUnblock.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUnblock.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUnblock.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toUnblock.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.toUnblock.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="my-0 py-1 align-middle text-start">{{ 'text.to.gold'|trans }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toGold.D }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toGold.C }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toGold.B }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toGold.A }}</td>
            <td class="my-0 py-1 align-middle text-center">{{ statistic.toGold.S }}</td>
            <td class="my-0 py-1 align-middle text-end">{{ statistic.toGold.Total }}</td>
        </tr>
    </tbody>
    <thead>
        {{ _self.legend() }}
    </thead>
{#    <tfoot>#}
{#        {{ _self.legend() }}#}
{#    </tfoot>#}
</table>

{% macro legend() %}
    <tr class="table-secondary small">
        <th class="my-0 py-1 align-middle text-start">{{ 'text.legend'|trans }}</th>
        <th class="my-0 py-1 align-middle text-center"><span class="d-md-none d-lg-inline-block">{{ 'text.class'|trans }}&nbsp;</span>D</th>
        <th class="my-0 py-1 align-middle text-center"><span class="d-md-none d-lg-inline-block">{{ 'text.class'|trans }}&nbsp;</span>C</th>
        <th class="my-0 py-1 align-middle text-center"><span class="d-md-none d-lg-inline-block">{{ 'text.class'|trans }}&nbsp;</span>B</th>
        <th class="my-0 py-1 align-middle text-center"><span class="d-md-none d-lg-inline-block">{{ 'text.class'|trans }}&nbsp;</span>A</th>
        <th class="my-0 py-1 align-middle text-center"><span class="d-md-none d-lg-inline-block">{{ 'text.class'|trans }}&nbsp;</span>S</th>
        <th class="my-0 py-1 align-middle text-end">{{ 'text.total'|trans }}</th>
    </tr>
{% endmacro %}
