{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
<tbody>
{% for entities in entities %}
    <tr>
        <td>{{ entities.id }}</td>
        <td>{{ entities.week }}</td>
        <td>{{ entities.region }}</td>
        <td>{{ entities.track }}</td>
        <td>{{ entities.class }}</td>
        <td>{{ entities.brand }}</td>
        <td>{{ entities.description }}</td>
        <td>{{ entities.success }}</td>
        <td>{{ entities.target }}</td>
        <td><a href="{{ path('app.mission.update', {'id': entities.id}) }}">edit</a></td>
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 10}) }}
{% endfor %}
</tbody>
<thead>
{{ _self.legend() }}
</thead>
<tfoot>
{{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.id'|trans }}</th>
    <th>{{ 'table.week'|trans }}</th>
    <th>{{ 'table.region'|trans }}</th>
    <th>{{ 'table.track'|trans }}</th>
    <th>{{ 'table.class'|trans }}</th>
    <th>{{ 'table.brand'|trans }}</th>
    <th>{{ 'table.description'|trans }}</th>
    <th>{{ 'table.success'|trans }}</th>
    <th>{{ 'table.target'|trans }}</th>
    <th>{{ 'table.actions'|trans }}</th>
</tr>
{% endmacro %}
