{% block table %}
    <tbody>
    {% for item in entities %}
        <tr>
            <td class="{{ classes.td }} text-center">{{ loop.index }}</td>
            <td class="{{ classes.td }} text-start">
                <a class="text-decoration-none" href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank">
                    {{ item.brand }} {{ item.model }}
                </a>
            </td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star0|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star1|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star2|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star3|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star4|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star5|number_format(0, '.', ' ') }}</td>
            <td class="{{ classes.td }} text-center">{{ item.rank_star6|number_format(0, '.', ' ') }}</td>
            {{ component('TableAction', {id: item.id, slug: item.slug, link: 'app.garage.update'}) }}
        </tr>
    {% else %}
        {{ component('TableEmpty', {value: 10}) }}
    {% endfor %}
    </tbody>
    <thead>
        {{ _self.legend() }}
    </thead>
    <tfoot>
        {{ _self.legend() }}
    </tfoot>
{% endblock %}

{% macro legend() %}
    <tr>
        <th class="col-1 text-center">#</th>
        <th class="col text-start">{{ 'text.garage'|trans }}</th>
        <th class="col-1 text-center">Start</th>
        <th class="col-1 text-center">1&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col-1 text-center">2&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col-1 text-center">3&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col-1 text-center">4&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col-1 text-center">5&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col-1 text-center">6&nbsp;<i class="fa-solid fa-star fa-rotate-90 text-warning"></i></th>
        <th class="col text-end">{{ 'text.action'|trans }}</th>
    </tr>
{% endmacro %}

{% extends '@App/front/contents/common/index.html.twig' %}
