
            <h2 class="h4 text-start text-uppercase">
                {{ 'text.common'|trans|plural() }}
            </h2>

            <div class="row row-cols-1 row-cols-xxl-4 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }}" theme="{{ 'body-tertiary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans }}" theme="{{ 'body-tertiary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans }}" theme="{{ 'body-tertiary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }}" theme="{{ 'body-tertiary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro }}" />
            </div>
