
            <h2 class="h4 text-start text-uppercase">
                {{ 'text.import'|trans|plural() }}
            </h2>

            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }} D" theme="{{ 'primary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed_d }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }} C" theme="{{ 'primary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed_c }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }} B" theme="{{ 'primary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed_b }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }} A" theme="{{ 'primary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed_a }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.speed'|trans }} S" theme="{{ 'primary' }}" icon="{{ 'fa-rocket' }}" show="{{ true }}" form="{{ speed_s }}" />
            </div>

            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans|u.truncate(6, '.') }} D" theme="{{ 'primary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration_d }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans|u.truncate(6, '.') }} C" theme="{{ 'primary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration_c }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans|u.truncate(6, '.') }} B" theme="{{ 'primary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration_b }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans|u.truncate(6, '.') }} A" theme="{{ 'primary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration_a }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.acceleration'|trans|u.truncate(6, '.') }} S" theme="{{ 'primary' }}" icon="{{ 'fa-gauge-high' }}" show="{{ true }}" form="{{ acceleration_s }}" />
            </div>

            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans|u.truncate(6, '.') }} D" theme="{{ 'primary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling_d }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans|u.truncate(6, '.') }} C" theme="{{ 'primary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling_c }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans|u.truncate(6, '.') }} B" theme="{{ 'primary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling_b }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans|u.truncate(6, '.') }} A" theme="{{ 'primary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling_a }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.handling'|trans|u.truncate(6, '.') }} S" theme="{{ 'primary' }}" icon="{{ 'fa-gear' }}" show="{{ true }}" form="{{ handling_s }}" />
            </div>

            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }} D" theme="{{ 'primary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro_d }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }} C" theme="{{ 'primary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro_c }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }} B" theme="{{ 'primary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro_b }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }} A" theme="{{ 'primary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro_a }}" />
                <twig:CardInventory maxValue="{{ 999 }}" title="{{ 'text.nitro'|trans }} S" theme="{{ 'primary' }}" icon="{{ 'fa-fire' }}" show="{{ true }}" form="{{ nitro_s }}" />
            </div>
