
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="primary" icon="fa-rocket" maxValue="999" form="{{ speed_d }}" />
        <twig:CardInventory color="primary" icon="fa-rocket" maxValue="999" form="{{ speed_c }}" />
        <twig:CardInventory color="primary" icon="fa-rocket" maxValue="999" form="{{ speed_b }}" />
        <twig:CardInventory color="primary" icon="fa-rocket" maxValue="999" form="{{ speed_a }}" />
        <twig:CardInventory color="primary" icon="fa-rocket" maxValue="999" form="{{ speed_s }}" />
    </div>
</div>
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="primary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration_d }}" />
        <twig:CardInventory color="primary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration_c }}" />
        <twig:CardInventory color="primary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration_b }}" />
        <twig:CardInventory color="primary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration_a }}" />
        <twig:CardInventory color="primary" icon="fa-gauge-high" maxValue="999" form="{{ acceleration_s }}" />
    </div>
</div>
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="primary" icon="fa-gear" maxValue="999" form="{{ handling_d }}" />
        <twig:CardInventory color="primary" icon="fa-gear" maxValue="999" form="{{ handling_c }}" />
        <twig:CardInventory color="primary" icon="fa-gear" maxValue="999" form="{{ handling_b }}" />
        <twig:CardInventory color="primary" icon="fa-gear" maxValue="999" form="{{ handling_a }}" />
        <twig:CardInventory color="primary" icon="fa-gear" maxValue="999" form="{{ handling_s }}" />
    </div>
</div>
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="primary" icon="fa-fire" maxValue="999" form="{{ nitro_d }}" />
        <twig:CardInventory color="primary" icon="fa-fire" maxValue="999" form="{{ nitro_c }}" />
        <twig:CardInventory color="primary" icon="fa-fire" maxValue="999" form="{{ nitro_b }}" />
        <twig:CardInventory color="primary" icon="fa-fire" maxValue="999" form="{{ nitro_a }}" />
        <twig:CardInventory color="primary" icon="fa-fire" maxValue="999" form="{{ nitro_s }}" />
    </div>
</div>
