
            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 6 }}" title="D5" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_d }}" />
                <twig:CardInventory maxValue="{{ 8 }}" title="D4" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_d }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="D3" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_d }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="D2" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_d }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="D1" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_d }}" />
            </div>
