
            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 6 }}" title="B5" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_b }}" />
                <twig:CardInventory maxValue="{{ 8 }}" title="B4" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_b }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="B3" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_b }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="B2" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_b }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="B1" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_b }}" />
            </div>
