
            <div class="row row-cols-1 row-cols-xxl-5 g-xxl-3 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 6 }}" title="A5" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_a }}" />
                <twig:CardInventory maxValue="{{ 8 }}" title="A4" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_a }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="A3" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_a }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="A2" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_a }}" />
                <twig:CardInventory maxValue="{{ 10 }}" title="A1" theme="{{ 'secondary' }}" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_a }}" />
            </div>
