<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="6" form="{{ joker_5_c }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="8" form="{{ joker_4_c }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_3_c }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_2_c }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_1_c }}" />
    </div>
</div>
