<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="6" form="{{ joker_5_b }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="8" form="{{ joker_4_b }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_3_b }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_2_b }}" />
        <twig:CardInventory color="danger-emphasis" icon="{{ null }}" maxValue="10" form="{{ joker_1_b }}" />
    </div>
</div>
