
            <h2 class="h4 text-start text-uppercase">
                {{ 'text.coin'|trans|plural() }}
            </h2>

            <div class="row row-cols-1 row-cols-xxl-3 g-xxl-4 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 999999999 }}" title="{{ 'text.credit'|trans|plural }}" theme="credit" icon="fa-money-check-dollar" show="{{ false }}" form="{{ credits }}" />
                <twig:CardInventory maxValue="{{ 999999 }}" title="{{ 'text.token'|trans|plural }}" theme="token" icon="fa-coins" show="{{ false }}" form="{{ tokens }}" />
                <twig:CardInventory maxValue="{{ 999999 }}" title="{{ 'text.epic'|trans|plural }}" theme="epic" icon="fa-money-bill-1" show="{{ false }}" form="{{ epics }}" />
            </div>

            <div class="row row-cols-1 row-cols-xxl-4 g-xxl-4 mb-xxl-2">
                <twig:CardInventory maxValue="{{ 1000 }}" title="{{ 'text.overlock'|trans|plural }}" theme="overlock" icon="fa-sack-dollar" show="{{ false }}" form="{{ overlocks }}" />
                <twig:CardInventory maxValue="{{ 999999 }}" title="{{ 'text.gauntlet'|trans|plural }}" theme="gauntlet" icon="fa-medal" show="{{ false }}" form="{{ gauntlet }}" />
                <twig:CardInventory maxValue="{{ 999999 }}" title="{{ 'text.vip'|trans|plural }}" theme="vip" icon="fa-crown" show="{{ false }}" form="{{ vip }}" />
                <twig:CardInventory maxValue="{{ 999999 }}" title="{{ 'text.style'|trans|plural }}" theme="style" icon="fa-star" show="{{ false }}" form="{{ style }}" />
            </div>
