
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="warning" icon="fa-money-check-dollar" maxValue="999999999" form="{{ credits }}" />
        <twig:CardInventory color="primary" icon="fa-coins" maxValue="999999" form="{{ tokens }}" />
        <twig:CardInventory color="danger" icon="fa-money-bill-1" maxValue="999999" form="{{ epics }}" />
    </div>
</div>
<div class="row mb-2">
    <div class="card-group">
        <twig:CardInventory color="danger-emphasis" icon="fa-sack-dollar" maxValue="1000" form="{{ overlocks }}" />
        <twig:CardInventory color="info-emphasis" icon="fa-medal" maxValue="999999" form="{{ gauntlet }}" />
        <twig:CardInventory color="info" icon="fa-crown" maxValue="999999" form="{{ vip }}" />
        <twig:CardInventory color="success" icon="fa-star" maxValue="999999" form="{{ style }}" />
    </div>
</div>
