
{% block content %}

    <div class="row">
        <dl class="col-4">
            <dt>Easy Admin</dt>
            <dd><a href="{{ path('admin') }}">Easy Admin</a></dd>
        </dl>
        <dl class="col-4">
            <dt>Back Office</dt>
            <dd><a href="{{ path('admin.dashboard.index') }}">Back Office</a></dd>
        </dl>
        <dl class="col-4">
            <dt>Front Office</dt>
            <dd><a href="{{ path('app.garage.index') }}">Garage App</a></dd>
            <dd><a href="{{ path('app.mission.index') }}">Mission App</a></dd>
            <dd><a href="{{ path('app.race.index') }}">Race App</a></dd>
            <dd><a href="{{ path('app.page.filter.gold') }}">Page Filter By : Gold</a></dd>
            <dd><a href="{{ path('app.page.filter.locked') }}">Page Filter By : Lock</a></dd>
            <dd><a href="{{ path('app.page.filter.to.gold') }}">Page Filter By : To Gold</a></dd>
            <dd><a href="{{ path('app.page.filter.to.unlock') }}">Page Filter By : To Unlock</a></dd>
            <dd><a href="{{ path('app.page.filter.to.upgrade') }}">Page Filter By : To Upgrade</a></dd>
            <dd><a href="{{ path('app.page.filter.unlock') }}">Page Filter By : Unlock</a></dd>
            <dd><a href="{{ path('app.page.order.class') }}">Page Order By : Class</a></dd>
            <dd><a href="{{ path('app.page.order.event') }}">Page Order By : Event</a></dd>
            <dd><a href="{{ path('app.page.order.stat') }}">Page Order By : Stat</a></dd>
            <dd><a href="{{ path('app.page.search.garage') }}">Page Search : Garage</a></dd>
            <dd><a href="{{ path('app.page.search.race') }}">Page Search : Race</a></dd>
    {#        <dd><a href="{{ path('app.page.setting.rank') }}">XXXXXXXXXXX</a></dd>#}
        </dl>
    </div>
    <div class="row">
        <div class="col-xxl-8 col-md-12">
            <h2 class="h4 text-center">{{ 'text.coin'|trans|plural() }}</h2>
{#            {% include '@App/front/contents/dashboard/_moneys.html.twig' %}#}
            <h2 class="h4 text-center">{{ 'text.joker'|trans|plural() }}</h2>
{#            {% include '@App/front/contents/dashboard/_joker-S.html.twig' %}#}
{#            {% include '@App/front/contents/dashboard/_joker-A.html.twig' %}#}
{#            {% include '@App/front/contents/dashboard/_joker-B.html.twig' %}#}
{#            {% include '@App/front/contents/dashboard/_joker-C.html.twig' %}#}
{#            {% include '@App/front/contents/dashboard/_joker-D.html.twig' %}#}
            <h2 class="h4 text-center">{{ 'text.import'|trans|plural() }}</h2>
{#            {% include '@App/front/contents/dashboard/_import-rares.html.twig' %}#}
            <h2 class="h4 text-center">{{ 'text.common'|trans|plural() }}</h2>
{#            {% include '@App/front/contents/dashboard/_import-commons.html.twig' %}#}


        </div>
        <div class="col-xxl-4 col-md-12">
            <h2 class="h4 text-center">{{ 'text.stat.class'|trans }}</h2>
{#            {% include '@App/front/contents/dashboard/_statistical.html.twig' %}#}
        </div>

    </div>

{% endblock %}

{% extends '@App/bases/front/full.html.twig' %}
