
<div class="row row-cols-1 row-cols-md-5 g-md-3 mb-md-3">
    <twig:FormDashboardInventory maxValue="{{ 6 }}" title="B5" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_b }}" />
    <twig:FormDashboardInventory maxValue="{{ 8 }}" title="B4" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_b }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="B3" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_b }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="B2" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_b }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="B1" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_b }}" />
</div>
