
<div class="row row-cols-1 row-cols-md-5 g-md-3 mb-md-3">
    <twig:FormDashboardInventory maxValue="{{ 6 }}" title="A5" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_a }}" />
    <twig:FormDashboardInventory maxValue="{{ 8 }}" title="A4" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_a }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="A3" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_a }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="A2" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_a }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="A1" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_a }}" />
</div>
