
<div class="row row-cols-1 row-cols-md-5 g-md-3 mb-md-3">
    <twig:FormDashboardInventory maxValue="{{ 6 }}" title="C5" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_c }}" />
    <twig:FormDashboardInventory maxValue="{{ 8 }}" title="C4" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_c }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="C3" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_c }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="C2" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_c }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="C1" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_c }}" />
</div>
