
<div class="row row-cols-1 row-cols-md-5 g-md-3 mb-md-3">
    <twig:FormDashboardInventory maxValue="{{ 6 }}" title="S5" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_s }}" />
    <twig:FormDashboardInventory maxValue="{{ 8 }}" title="S4" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_s }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="S3" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_s }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="S2" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_s }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="S1" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_s }}" />
</div>
