
<div class="row row-cols-1 row-cols-md-5 g-md-3 mb-md-3">
    <twig:FormDashboardInventory maxValue="{{ 6 }}" title="D5" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_5_d }}" />
    <twig:FormDashboardInventory maxValue="{{ 8 }}" title="D4" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_4_d }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="D3" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_3_d }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="D2" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_2_d }}" />
    <twig:FormDashboardInventory maxValue="{{ 10 }}" title="D1" theme="info" icon="{{ null }}" show="{{ true }}" form="{{ joker_1_d }}" />
</div>
