{% extends '@App/bases/back/full.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block content %}
<h6 class="display-4">{{ 'app.dashboard.admin.inventory' | trans }}</h6>
<div class="row flex-row">
    {{ _self.card(inventory.link, inventory.title) }}
</div>
<h6 class="display-4">{{ 'app.dashboard.admin.mission' | trans }}</h6>
<div class="row flex-row">
    {% for item in missions %}
        {{ _self.card(item.link, item.title) }}
    {% endfor %}
</div>
<h6 class="display-4">{{ 'app.dashboard.admin.race' | trans }}</h6>
<div class="row flex-row">
    {% for item in races %}
        {{ _self.card(item.link, item.title) }}
    {% endfor %}
</div>
<h6 class="display-4">{{ 'app.dashboard.admin.setting' | trans }}</h6>
<div class="row flex-row">
    {% for item in settings %}
        {{ _self.card(item.link, item.title) }}
    {% endfor %}
</div>
{% endblock %}

{% macro card(link, title) %}

    <div class="col-xl-4 col-md-6 col-sm-12">
        <a href="{{ path(link) }}">
            <div class="widget widget-12 has-shadow">
                <div class="widget-body">
                    <div class="media">
                        <div class="align-self-center ml-5 mr-5">
                            <i class="ti-server text-twitter"></i>
                        </div>
                        <div class="media-body align-self-center">
                            <div class="title text-twitter">{{ title }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endmacro %}
