{% extends '@App/bases/back/page-index.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.label }}</td>
        <td>{{ item.value | number_format }}</td>
        <td>{{ item.filter }}</td>
        <td>{{ item.position }}</td>
        <td>{{ item.active }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {{ component('TableAction', {id: item.id, link: 'app.inventory.update'}) }}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 11}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.legend() }}
</thead>
<tfoot>
    {{ _self.legend() }}
</tfoot>
<thead>
</thead>
{% endblock %}

{% macro legend() %}
    <tr>
        <th>{{ 'table.id' | trans }}</th>
        <th>{{ 'table.category' | trans }}</th>
        <th>{{ 'table.label' | trans }}</th>
        <th>{{ 'table.value' | trans }}</th>
        <th>{{ 'table.filter' | trans }}</th>
        <th>{{ 'table.position' | trans }}</th>
        <th>{{ 'table.active' | trans }}</th>
        <th>{{ 'table.slug' | trans }}</th>
        <th>{{ 'table.date.created.at' | trans }}</th>
        <th>{{ 'table.date.updated.at' | trans }}</th>
        <th>{{ 'table.actions' | trans }}</th>
    </tr>
{% endmacro %}
