{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Chapter</th>
                <th>Name</th>
                <th>Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.chapter }}</td>
                <td>{{ season.name }}</td>
                <td>{{ season.slug }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: season.id, slug: season.slug, path: 'admin.race.season.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 5}) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
