{% extends 'base.html.twig' %}

{% block title %}SettingLevel index{% endblock %}

{% block body %}
    <h1>SettingLevel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Level</th>
                <th>Common</th>
                <th>Rare</th>
                <th>Epic</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting_level in setting_levels %}
            <tr>
                <td>{{ setting_level.id }}</td>
                <td>{{ setting_level.level }}</td>
                <td>{{ setting_level.common }}</td>
                <td>{{ setting_level.rare }}</td>
                <td>{{ setting_level.epic }}</td>
                <td>{{ setting_level.slug }}</td>
                <td>{{ setting_level.createdAt ? setting_level.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_level.updatedAt ? setting_level.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_level.deletedAt ? setting_level.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_setting_level_show', {'id': setting_level.id}) }}">show</a>
                    <a href="{{ path('app_setting_level_edit', {'id': setting_level.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setting_level_new') }}">Create new</a>
{% endblock %}
