{% extends 'base.html.twig' %}

{% block title %}SettingClass{% endblock %}

{% block body %}
    <h1>SettingClass</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting_class.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ setting_class.label }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ setting_class.value }}</td>
            </tr>
            <tr>
                <th>ClassOrder</th>
                <td>{{ setting_class.classOrder }}</td>
            </tr>
            <tr>
                <th>CarsNumber</th>
                <td>{{ setting_class.carsNumber }}</td>
            </tr>
            <tr>
                <th>Median</th>
                <td>{{ setting_class.median }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ setting_class.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ setting_class.createdAt ? setting_class.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ setting_class.updatedAt ? setting_class.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ setting_class.deletedAt ? setting_class.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_setting_class_index') }}">back to list</a>

    <a href="{{ path('app_setting_class_edit', {'id': setting_class.id}) }}">edit</a>

    {{ include('setting_class/_delete_form.html.twig') }}
{% endblock %}
