{% extends '@App/bases/full.html.twig' %}

{% block datas %}
{{ form_start(form) }}
    <div class="row bg-secondary">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-3">{{ form_row(form.level01) }}</div>
        <div class="col-3">{{ form_row(form.level02) }}</div>
        <div class="col-3">{{ form_row(form.level03) }}</div>
        <div class="col-3">{{ form_row(form.level04) }}</div>
        <div class="col-3">{{ form_row(form.level05) }}</div>
        <div class="col-3">{{ form_row(form.level06) }}</div>
        <div class="col-3">{{ form_row(form.level07) }}</div>
        <div class="col-3">{{ form_row(form.level08) }}</div>
        <div class="col-3">{{ form_row(form.level09) }}</div>
        <div class="col-3">{{ form_row(form.level10) }}</div>
        <div class="col-3">{{ form_row(form.level11) }}</div>
        <div class="col-3">{{ form_row(form.level12) }}</div>
        <div class="col-3">{{ form_row(form.level13) }}</div>
        <div class="col-3">{{ form_row(form.common) }}</div>
        <div class="col-3">{{ form_row(form.rare) }}</div>
        <div class="col-3">{{ form_row(form.epic) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_rest(form) }}</div>
    </div>

    {{ component('FormSaveDatas', {link: index}) }}
{{ form_end(form) }}

{% if items.3 == 'update' %}
    {{ component('FormDeleteDatas', {link: 'admin.setting.unitprice.delete', id: setting_unit_price.id}) }}
{% endif %}

{% endblock %}
