{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-end">Level01</th>
                <th class="text-end">Level02</th>
                <th class="text-end">Level03</th>
                <th class="text-end">Level04</th>
                <th class="text-end">Level05</th>
                <th class="text-end">Level06</th>
                <th class="text-end">Level07</th>
                <th class="text-end">Level08</th>
                <th class="text-end">Level09</th>
                <th class="text-end">Level10</th>
                <th class="text-end">Level11</th>
                <th class="text-end">Level12</th>
                <th class="text-end">Level13</th>
                <th class="text-end">Common</th>
                <th class="text-end">Rare</th>
                <th class="text-end">Epic</th>
                <th class="text-end">Slug</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for unit_price in unit_prices %}
            <tr>
                <td class="text-center">{{ unit_price.id }}</td>
                <td class="text-end">{{ unit_price.level01 | number_format }}</td>
                <td class="text-end">{{ unit_price.level02 | number_format }}</td>
                <td class="text-end">{{ unit_price.level03 | number_format }}</td>
                <td class="text-end">{{ unit_price.level04 | number_format }}</td>
                <td class="text-end">{{ unit_price.level05 | number_format }}</td>
                <td class="text-end">{{ unit_price.level06 | number_format }}</td>
                <td class="text-end">{{ unit_price.level07 | number_format }}</td>
                <td class="text-end">{{ unit_price.level08 | number_format }}</td>
                <td class="text-end">{{ unit_price.level09 | number_format }}</td>
                <td class="text-end">{{ unit_price.level10 | number_format }}</td>
                <td class="text-end">{{ unit_price.level11 | number_format }}</td>
                <td class="text-end">{{ unit_price.level12 | number_format }}</td>
                <td class="text-end">{{ unit_price.level13 | number_format }}</td>
                <td class="text-end">{{ unit_price.common | number_format }}</td>
                <td class="text-end">{{ unit_price.rare | number_format }}</td>
                <td class="text-end">{{ unit_price.epic | number_format }}</td>
                <td class="text-end">{{ unit_price.slug | number_format }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: unit_price.id, slug: unit_price.slug, path: 'admin.setting.unitprice.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 19}) }}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
