{% extends 'base.html.twig' %}

{% block title %}MissionTask{% endblock %}

{% block body %}
    <h1>MissionTask</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mission_task.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ mission_task.createdAt ? mission_task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ mission_task.updatedAt ? mission_task.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ mission_task.deletedAt ? mission_task.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mission_task_index') }}">back to list</a>

    <a href="{{ path('app_mission_task_edit', {'id': mission_task.id}) }}">edit</a>

    {{ include('mission_task/_delete_form.html.twig') }}
{% endblock %}
