{% extends '@App/bases/back/full.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.value }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        {% if app.current_route == 'app.mission.task.index' %}
            {{ component('TableAction', {id: item.id, link: 'app.mission.task.update'}) }}
        {% elseif app.current_route == 'app.mission.type.index' %}
            {{ component('TableAction', {id: item.id, link: 'app.mission.type.update'}) }}
        {% endif %}
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 6}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.tr() }}
</thead>
<tfoot>
    {{ _self.tr() }}
</tfoot>
<thead>
</thead>
{% endblock %}

{% macro tr() %}
    <tr>
        <th>{{ 'table.id' | trans }}</th>
        <th>{{ 'table.value' | trans }}</th>
        <th>{{ 'table.slug' | trans }}</th>
        <th>{{ 'table.createdat' | trans }}</th>
        <th>{{ 'table.updatedat' | trans }}</th>
        <th>{{ 'table.actions' | trans }}</th>
    </tr>
{% endmacro %}
