{% extends '@App/base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    Admin:
    <ul>
        <li><a target="_blank" href="{{ path('admin_inventory_app_index') }}">Inventory App</a></li>
        <li><a target="_blank" href="{{ path('admin_mission_app_index') }}">Mission App</a></li>
        <li><a target="_blank" href="{{ path('admin_mission_task_index') }}">Mission Task</a></li>
        <li><a target="_blank" href="{{ path('admin_mission_type_index') }}">Mission Type</a></li>
        <li><a target="_blank" href="{{ path('admin_race_app_index') }}">Race App</a></li>
        <li><a target="_blank" href="{{ path('admin_race_mode_index') }}">Race Mode</a></li>
        <li><a target="_blank" href="{{ path('admin_race_region_index') }}">Race Region</a></li>
        <li><a target="_blank" href="{{ path('admin_race_season_index') }}">Race Season</a></li>
        <li><a target="_blank" href="{{ path('admin_race_time_index') }}">Race Time</a></li>
        <li><a target="_blank" href="{{ path('admin_race_track_index') }}">Race Track</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_blueprint_index') }}">Setting Blueprint</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_brand_index') }}">Setting Brand</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_class_index') }}">Setting Class</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_level_index') }}">Setting Level</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_tag_index') }}">Setting Tag</a></li>
        <li><a target="_blank" href="{{ path('admin_setting_unit_price_index') }}">Setting Unit-Price</a></li>
    </ul>
</div>
{% endblock %}
