{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">{{ 'table.brand'|trans ~ ' ' ~ 'table.model'|trans }}</th>
            <th class="text-right">{{ 'table.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in results %}
        <tr>
            <td class="my-0 py-0 align-middle text-center">{{ loop.index }}</td>
            <td class="my-0 py-0 align-middle text-left"><a href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank">{{ item.brand }} {{ item.model }}</a></td>
            <td class="my-0 py-0 align-middle text-right"><a class="btn btn-sm btn-outline-info" href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;{{ 'btn.update'|trans }}</a></td>
        </tr>
    {% else %}
        {{ component('TableNoRecords', { value: 4 }) }}
    {% endfor %}
    </tbody>
{% endblock %}
