{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th class="text-left">{{ 'table.brand'|trans ~ ' ' ~ 'table.model'|trans }}</th>
            <th class="text-center">Start</th>
            <th class="text-center">1&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">2&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">3&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">4&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">5&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">6&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="text-center">{{ 'table.actions'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for item in results %}
        <tr>
            <td class="my-0 py-0 align-middle text-center">{{ loop.index }}</td>
            <td class="my-0 py-0 align-middle text-left"><a href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank">{{ item.brand }} {{ item.model }}</a></td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star0|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star1|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star2|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star3|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star4|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star5|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-center">{{ item.rank_star6|number_format(0, '.', ' ') }}</td>
            <td class="my-0 py-0 align-middle text-right"><a class="btn btn-sm btn-outline-info" href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;{{ 'btn.update'|trans }}</a></td>
        </tr>
    {% else %}
        {{ component('TableNoRecords', { value: 10 }) }}
    {% endfor %}
    </tbody>
{% endblock %}
