{#{{ dump(unlock) }}#}
<section>
    <h3 class="text-center">Car Stats by Class</h3>
    <table class="{{ classes.table_index }}">
        <tbody>
        <tr>
            <td class="p-2 text-start">Garages</td>
            <td class="p-2 text-center">{{ total.D }}</td>
            <td class="p-2 text-center">{{ total.C }}</td>
            <td class="p-2 text-center">{{ total.B }}</td>
            <td class="p-2 text-center">{{ total.A }}</td>
            <td class="p-2 text-center">{{ total.S }}</td>
            <td class="p-2 text-end">{{ total.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">Unlock</td>
            <td class="p-2 text-center">{{ unlock.D }}</td>
            <td class="p-2 text-center">{{ unlock.C }}</td>
            <td class="p-2 text-center">{{ unlock.B }}</td>
            <td class="p-2 text-center">{{ unlock.A }}</td>
            <td class="p-2 text-center">{{ unlock.S }}</td>
            <td class="p-2 text-end">{{ unlock.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">Locked</td>
            <td class="p-2 text-center">{{ locked.D }}</td>
            <td class="p-2 text-center">{{ locked.C }}</td>
            <td class="p-2 text-center">{{ locked.B }}</td>
            <td class="p-2 text-center">{{ locked.A }}</td>
            <td class="p-2 text-center">{{ locked.S }}</td>
            <td class="p-2 text-end">{{ locked.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">Gold</td>
            <td class="p-2 text-center">{{ gold.D }}</td>
            <td class="p-2 text-center">{{ gold.C }}</td>
            <td class="p-2 text-center">{{ gold.B }}</td>
            <td class="p-2 text-center">{{ gold.A }}</td>
            <td class="p-2 text-center">{{ gold.S }}</td>
            <td class="p-2 text-end">{{ gold.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">To Unlock</td>
            <td class="p-2 text-center">{{ toUnlock.D }}</td>
            <td class="p-2 text-center">{{ toUnlock.C }}</td>
            <td class="p-2 text-center">{{ toUnlock.B }}</td>
            <td class="p-2 text-center">{{ toUnlock.A }}</td>
            <td class="p-2 text-center">{{ toUnlock.S }}</td>
            <td class="p-2 text-end">{{ toUnlock.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">To Upgrade</td>
            <td class="p-2 text-center">{{ toUpgrade.D }}</td>
            <td class="p-2 text-center">{{ toUpgrade.C }}</td>
            <td class="p-2 text-center">{{ toUpgrade.B }}</td>
            <td class="p-2 text-center">{{ toUpgrade.A }}</td>
            <td class="p-2 text-center">{{ toUpgrade.S }}</td>
            <td class="p-2 text-end">{{ toUpgrade.Total }}</td>
        </tr>
        <tr>
            <td class="p-2 text-start">To Gold</td>
            <td class="p-2 text-center">{{ toGold.D }}</td>
            <td class="p-2 text-center">{{ toGold.C }}</td>
            <td class="p-2 text-center">{{ toGold.B }}</td>
            <td class="p-2 text-center">{{ toGold.A }}</td>
            <td class="p-2 text-center">{{ toGold.S }}</td>
            <td class="p-2 text-end">{{ toGold.Total }}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th class="p-2 text-start">Legend</th>
            <th class="p-2 text-center">Cl. D</th>
            <th class="p-2 text-center">Cl. C</th>
            <th class="p-2 text-center">Cl. B</th>
            <th class="p-2 text-center">Cl. A</th>
            <th class="p-2 text-center">Cl. S</th>
            <th class="p-2 text-end">Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th class="p-2 text-start">Legend</th>
            <th class="p-2 text-center">Cl. D</th>
            <th class="p-2 text-center">Cl. C</th>
            <th class="p-2 text-center">Cl. B</th>
            <th class="p-2 text-center">Cl. A</th>
            <th class="p-2 text-center">Cl. S</th>
            <th class="p-2 text-end">Total</th>
        </tr>
        </tfoot>
    </table>
</section>
