{% extends '@App/bases/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Stylesheet -->
    <link href="{{ asset('themes/elisyam/assets/vendors/css/base/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('themes/elisyam/assets/vendors/css/base/elisyam-1.5-dark.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('themes/elisyam/assets/css/owl-carousel/owl.carousel.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('themes/elisyam/assets/css/owl-carousel/owl.theme.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}<body id="page-top">{% endblock %}

{% block containers %}
    {% block preloader %}
        {% include '@App/partials/back/loader.html.twig' %}
    {% endblock %}

    <div class="page h-100">

        {% block header %}
            {% include('@App/partials/back/header.html.twig') %}
        {% endblock %}

        <!-- Begin Page Content -->
        <div class="page-content d-flex align-items-stretch">
            {% include '@App/partials/back/sidebar.html.twig' %}

            <div class="content-inner">
                <div class="container-fluid">
                    {% block breadcrumb %}
                        {% include('@App/partials/back/breadcrumb.html.twig') %}
                    {% endblock %}

                    {% block content %}
                        {% if app.request.pathInfo ends with '/index.php' %}
                        <table class="{{ classes.index_table }}">
                            {% block table %}{% endblock %}
                        </table>
                        {% else %}
                        {% include('@App/contents/back/index.html.twig') %}
                        {% endif %}
                    {% endblock %}

                </div>
                <!-- End Container -->

                {% block footer %}
                    {% include('@App/partials/back/footer.html.twig') %}
                {% endblock %}

                <a href="javascript:void(0);" class="go-top"><i class="la la-arrow-up"></i></a>

                {% include '@App/partials/back/_sidebar-part-1.html.twig' %}

            </div>
            <!-- End Content -->
        </div>
        <!-- End Page Content -->

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Begin Vendor Js -->
    <script src="{{ asset('themes/elisyam/assets/vendors/js/base/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/base/core.min.js') }}" type="text/javascript"></script>
    <!-- End Vendor Js -->
    <!-- Begin Page Vendor Js -->
    <script src="{{ asset('themes/elisyam/assets/vendors/js/nicescroll/nicescroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/chart/chart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/progress/circle-progress.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/calendar/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/calendar/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/owl-carousel/owl.carousel.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('themes/elisyam/assets/vendors/js/app/app.js') }}" type="text/javascript"></script>
    <!-- End Page Vendor Js -->
    <!-- Begin Page Snippets -->
    <script src="{{ asset('themes/elisyam/assets/js/dashboard/db-default-dark.js') }}" type="text/javascript"></script>
    <!-- End Page Snippets -->
{% endblock %}
