
<div class="card-body">
    <div class="card-title"><h4 class="text-dark text-center h6">{{ 'app.garage.unit-price'|trans }}</h4></div>
    <table class="table">
        <tbody>
            <tr>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td>{{ _self.price(0, 1) }}</td>
                <td class="h5 text-right py-1">ToDo</td>
                <td>{{ _self.price(entity.upgrade_common, entity.unitPrice_common) }}</td>
                <td>{{ _self.price(entity.upgrade_rare, entity.unitPrice_rare) }}</td>
                <td>{{ _self.price(entity.upgrade_epic, entity.unitPrice_epic) }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th class="text-right py-1">{{ 'table.level01'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level02'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level03'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level04'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level05'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level06'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level07'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level08'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level09'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level10'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level11'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level12'|trans }}</th>
                <th class="text-right py-1">{{ 'table.level13'|trans }}</th>
                <th class="text-right py-1">{{ 'table.common'|trans }}</th>
                <th class="text-right py-1">{{ 'table.rare'|trans }}</th>
                <th class="text-right py-1">{{ 'table.epic'|trans }}</th>
            </tr>
        </thead>
    </table>
</div>

{% macro price(level, price) %}
    <label class="m-0">
        <input disabled type="text" name="unit-price" class="form-control text-right py-1 pr-0 mb-0" value="{{ (price * level) | number_format }}">
    </label>
{% endmacro %}
