
<div class="card-body">
    <div class="card-title"><h4 class="text-dark text-center h6">{{ 'app.garage.stat'|trans }}</h4></div>
    <table class="table">
        <tbody>
            <tr>
                <td class="h5 text-center py-1">{{ entity.min_speed|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.min_acceleration|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.min_handling|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.min_nitro|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.min_average|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
            </tr>
            <tr>
                <td class="h5 text-center py-1">{{ entity.max_speed|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.max_acceleration|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.max_handling|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.max_nitro|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
                <td class="h5 text-center py-1">{{ entity.max_average|format_number({rounding_mode: 'floor', fraction_digit: 2}, locale: 'fr') }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th class="text-center py-1">{{ 'table.speed'|trans }}</th>
                <th class="text-center py-1">{{ 'table.acceleration'|trans }}</th>
                <th class="text-center py-1">{{ 'table.handling'|trans }}</th>
                <th class="text-center py-1">{{ 'table.nitro'|trans }}</th>
                <th class="text-center py-1">{{ 'table.average'|trans }}</th>
            </tr>
        </thead>
    </table>
</div>
