{% import "@App/contents/front/garage/_macro-read.html.twig" as forms %}

<div class="card-body">
    <div class="card-title"><h4 class="text-dark text-center h6">{{ 'app.garage.upgrade'|trans }}</h4></div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center py-1">{{ 'table.speed'|trans }}</th>
                <th class="text-center py-1">{{ 'table.acceleration'|trans }}</th>
                <th class="text-center py-1">{{ 'table.handling'|trans }}</th>
                <th class="text-center py-1">{{ 'table.nitro'|trans }}</th>
                <th class="text-center py-1">{{ 'table.common'|trans }}</th>
                <th class="text-center py-1">{{ 'table.rare'|trans }}</th>
                <th class="text-center py-1">{{ 'table.epic'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% set speed = entity.upgrade_speed ~ '/' ~ entity.level_level %}
                    {{ forms.input('table.speed', speed) }}
                </td>
                <td>
                    {% set acceleration = entity.upgrade_acceleration ~ '/' ~ entity.level_level %}
                    {{ forms.input('table.acceleration', acceleration) }}
                </td>
                <td>
                    {% set handling = entity.upgrade_handling ~ '/' ~ entity.level_level %}
                    {{ forms.input('table.handling', handling) }}
                </td>
                <td>
                    {% set nitro = entity.upgrade_nitro ~ '/' ~ entity.level_level %}
                    {{ forms.input('table.nitro', nitro) }}
                </td>
                <td>
                    {% set common = entity.upgrade_common ~ '/' ~ entity.level_common %}
                    {{ forms.input('table.common', common) }}
                </td>
                <td>
                    {% set rare = entity.upgrade_rare ~ '/' ~ entity.level_rare %}
                    {{ forms.input('table.rare', rare) }}
                </td>
                <td>
                    {% set epic = entity.upgrade_epic ~ '/' ~ entity.level_epic %}
                    {{ forms.input('table.epic', epic) }}
                </td>
{#                <td>#}
{#                    <div class="input-group flex-nowrap">#}
{#                        <input disabled type="text" class="form-control h5 text-center py-1" placeholder="" value="{{ entity.upgrade_epic }}">#}
{#                        <input disabled type="text" class="form-control h5 text-center py-1" placeholder="" value="{{ entity.settingLevel.epic }}">#}
{#                    </div>#}
{#                </td>#}
            </tr>
        </tbody>
    </table>
</div>
