{% import "@App/contents/front/garage/_macro-read.html.twig" as forms %}

<div class="card-body">
    <div class="card-title"><h4 class="text-dark text-center h6">{{ 'app.garage.blueprint'|trans }}</h4></div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center py-1">{{ 'table.star1'|trans }}</th>
                <th class="text-center py-1">{{ 'table.star2'|trans }}</th>
                <th class="text-center py-1">{{ 'table.star3'|trans }}</th>
                <th class="text-center py-1">{{ 'table.star4'|trans }}</th>
                <th class="text-center py-1">{{ 'table.star5'|trans }}</th>
                <th class="text-center py-1">{{ 'table.star6'|trans }}</th>
                <th class="text-center py-1">{{ 'table.total'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% set star1 = entity.garage_star1 ~ '/' ~ entity.blueprint_star1 %}
                    {{ forms.input('table.star1', star1) }}
                </td>
                <td>
                    {% set star2 = entity.garage_star2 ~ '/' ~ entity.blueprint_star2 %}
                    {{ forms.input('table.star2', star2) }}
                </td>
                <td>
                    {% set star3 = entity.garage_star3 ~ '/' ~ entity.blueprint_star3 %}
                    {{ forms.input('table.star3', star3) }}
                </td>
                <td>
                    {% set star4 = entity.garage_star4 ~ '/' ~ entity.blueprint_star4 %}
                    {{ forms.input('table.star4', star4) }}
                </td>
                <td>
                    {% set star5 = entity.garage_star5 ~ '/' ~ entity.blueprint_star5 %}
                    {{ forms.input('table.star5', star5) }}
                </td>
                <td>
                    {% set star6 = entity.garage_star6 ~ '/' ~ entity.blueprint_star6 %}
                    {{ forms.input('table.star6', star6) }}
                </td>
                <td>
                    {% set total = entity.garage_total ~ '/' ~ entity.blueprint_total %}
                    {{ forms.input('table.total', total) }}
                </td>
{#                <td>#}
{#                    <div class="input-group flex-nowrap">#}
{#                        <input disabled type="text" class="form-control h5 text-center py-1" placeholder="" value="{{ entity.upgrade.first.epic }}">#}
{#                        <input disabled type="text" class="form-control h5 text-center py-1" placeholder="" value="{{ entity.settingLevel.epic }}">#}
{#                    </div>#}
{#                </td>#}
            </tr>
        </tbody>
    </table>
</div>
