{% import "@App/contents/front/garage/_macro-read.html.twig" as forms %}

<div class="card-body">
    <div class="card-title"><h4 class="text-dark text-center h6">{{ 'app.garage.garage'|trans }}</h4></div>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center py-1">{{ 'table.brand'|trans }}</th>
                <th class="text-center py-1">{{ 'table.model'|trans }}</th>
                <th class="text-center py-1">{{ 'table.class'|trans }}</th>
                <th class="text-center py-1">{{ 'table.game.update'|trans }}</th>
                <th class="text-center py-1">{{ 'table.level'|trans }}</th>
                <th class="text-center py-1">{{ 'table.epic'|trans }}</th>
                <th class="text-center py-1">{{ 'table.order.car'|trans }}</th>
                <th class="text-center py-1">{{ 'table.order.stat'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ forms.input('table.brand', entity.brand) }}</td>
                <td>{{ forms.input('table.model', entity.model) }}</td>
                <td>{{ forms.input('table.class', entity.class_value) }}</td>
                <td>{{ forms.input('table.game.update', entity.gameUpdate) }}</td>
                <td>
                    {% set level = entity.level ~ ' / ' ~ entity.level_level %}
                    {{ forms.input('table.level', level) }}
                </td>
                <td>
                    {% set epic = entity.epic ~ ' / ' ~ entity.level_epic %}
                    {{ forms.input('table.epic', epic) }}
                </td>
                <td>
                    {% set carOrder = entity.carOrder  ~ ' / ' ~ entity.class_number %}
                    {{ forms.input('table.order.car', carOrder) }}
                </td>
                <td>
                    {% set statOrder = entity.statOrder  ~ ' / ' ~ entity.class_number %}
                    {{ forms.input('table.order.stat', statOrder) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>
