
<div class="row row-cols-6 g-2">
    <div class="col">{{ form_errors(form.settingClass) }}</div>
    <div class="col">{{ form_errors(form.settingBrand) }}</div>
    <div class="col">{{ form_errors(form.model) }}</div>
    <div class="col">{{ form_errors(form.level) }}</div>
    <div class="col">{{ form_errors(form.epic) }}</div>
    <div class="col">&nbsp;</div>
</div>
