<section class="card bg-light py-0 mb-2">
    <div class="card-header">
        <h2 class="text-center text-dark-emphasis h3 my-0">{{ 'app.garage.upgrade'|trans }}</h2>
    </div>
    <div class="card-body">
        <div class="row row-cols-3 g-2">
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.speed, value: garage.level}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.acceleration, value: garage.level}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.handling, value: garage.level}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.nitro, value: garage.level}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.common, value: garage.settingLevel.common}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.rare, value: garage.settingLevel.rare}) }}
            </div>
            <div class="col">
                {{ component('FormGarageUpgrade', {form: form.upgrade.0.epic, value: garage.settingLevel.epic}) }}
            </div>
        </div>
    </div>
</section>
