<section class="card bg-light py-0 mb-2">
    <div class="card-header">
        <h2 class="text-center text-dark-emphasis h3 my-0">{{ 'app.garage.garage'|trans }}</h2>
    </div>
    <div class="card-body">
        <div class="row row-cols-3 g-2">
            <div class="col">
{#                {{ component('FormGarageUpdate', {'form': form.settingClass}) }}#}
                {{ form_label(form.settingClass) }}
                {{ form_widget(form.settingClass) }}
                {{ form_errors(form.settingClass) }}
            </div>
            <div class="col">
{#                {{ component('FormGarageUpdate', {'form': form.settingBrand}) }}#}
                {{ form_label(form.settingBrand) }}
                {{ form_widget(form.settingBrand) }}
                {{ form_errors(form.settingBrand) }}
            </div>
            <div class="col">
{#                {{ component('FormGarageUpdate', {'form': form.model}) }}#}
                {{ form_label(form.model) }}
                {{ form_widget(form.model) }}
                {{ form_errors(form.model) }}
            </div>
            <div class="col">
{#                {{ component('FormGarageUpdate', {'form': form.level}) }}#}
                {{ form_label(form.level) }}
                {{ form_widget(form.level) }}
                {{ form_errors(form.level) }}
            </div>
            <div class="col">
{#                {{ component('FormGarageUpdate', {'form': form.epic}) }}#}
                {{ form_label(form.epic) }}
                {{ form_widget(form.epic) }}
                {{ form_errors(form.epic) }}
            </div>
            <div class="col">
                <div class="card bg-primary-subtle">
                    <div class="card-header text-center">
                        <label class="m-0 form-label required" for="median">{{ 'app.garage.update.median'|trans }}</label>
                    </div>
                    <div class="card-body p-1">
                        <input type="text" id="median" name="median" autocomplete="off" class="form-control text-center" value="{{ garage.settingClass.median }}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
