{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
    <tbody>
        {% for entity in entities %}
            <tr>
                <td class="my-0 py-0 align-middle text-center">{{ entity.class_value }}</td>
                <td class="my-0 py-0 align-middle text-left"><a href="{{ path('app.garage.update', {id: entity.id, slug: entity.slug}) }}" target="_blank" class="{{ _self.color(entity.unlocked, entity.gold) }}">{{ entity.brand }}</a></td>
                <td class="my-0 py-0 align-middle text-left"><a href="{{ path('app.garage.update', {id: entity.id, slug: entity.slug}) }}" target="_blank" class="{{ _self.color(entity.unlocked, entity.gold) }}">{{ entity.model }}</a></td>
                <td class="my-0 py-0 align-middle text-center">{{ entity.gameUpdate }}</td>
                <td class="my-0 py-0 align-middle text-center">{{ entity.level }}</td>
                <td class="my-0 py-0 align-middle text-center">{{ entity.epic }}</td>
                <td class="my-0 py-0 align-middle text-center">{{ component('ValueBoolean', {value: entity.unlocked}) }}</td>
                <td class="my-0 py-0 align-middle text-center">{{ component('ValueBoolean', {value: entity.gold}) }}</td>
                <td class="my-0 py-0 align-middle text-right">
                    <div class="btn-group no-padding" role="group" aria-label="Action">
                        <a class="btn btn-sm btn-outline-warning" href="{{ path('app.garage.read', {'id': entity.id, 'slug': entity.slug}) }}" target="_blank">{{ 'btn.read'|trans }}&nbsp;<i class="fa-solid fa-file"></i></a>
                        <a class="btn btn-sm btn-outline-info" href="{{ path('app.garage.update', {'id': entity.id, 'slug': entity.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;{{ 'btn.update'|trans }}</a>
                    </div>
                </td>
            </tr>
        {% else %}
            {{ component('TableNoRecords', {value: 9}) }}
        {% endfor %}
    </tbody>
    <thead>
    {{ _self.legend() }}
    </thead>
    <tfoot>
    {{ _self.legend() }}
    </tfoot>
{% endblock %}

{% macro legend() %}
        <tr>
{#            <th>{{ 'table.id'|trans }}</th>#}
            <th class="text-center">{{ 'table.class'|trans }}</th>
            <th>{{ 'table.brand'|trans }}</th>
            <th>{{ 'table.model'|trans }}</th>
            <th class="text-center">{{ 'table.game.update'|trans }}</th>
            <th class="text-center">{{ 'table.level'|trans }}</th>
            <th class="text-center">{{ 'table.epic'|trans }}</th>
            <th class="text-center">{{ 'table.unlocked'|trans }}</th>
            <th class="text-center">{{ 'table.gold'|trans }}</th>
            <th class="text-right">{{ 'table.actions'|trans }}</th>
        </tr>
{% endmacro %}

{% macro color(unlock, gold) %}
    {% if unlock == true and gold == false %}
        text-success
    {% elseif unlock == true and gold == true %}
        text-warning
    {% else %}
        text-danger
    {% endif %}
{% endmacro %}

{% block title %}{{ controller_name }}{% endblock %}
