{% extends '@App/bases/front/full.html.twig' %}

{% block content %}

<div class="container-fluid">

    <div class="card bg-primary-subtle">
        <div class="card-header">
            <h2 class="text-center">{{ controller_name }}</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

</div>

{% endblock %}
