{% extends '@App/front/contents/common/index.html.twig' %}

{% block table %}
    <tbody>
    {% for item in entities %}
        <tr>
            <td class="{{ classes.td }}">{{ item.Mode }}</td>
            <td class="{{ classes.td }} text-center">{{ component('ValueInteger', {value: item.Chapter}) }}</td>
            <td class="{{ classes.td }} text-center">{{ component('ValueInteger', {value: item.Order}) }}</td>
            <td class="{{ classes.td }}">{{ item.Season }}</td>
            <td class="{{ classes.td }}">{{ item.English }}</td>
            <td class="{{ classes.td }}">{{ item.French }}</td>
            <td class="{{ classes.td }} text-end">{{ item.Time }}</td>
            <td class="{{ classes.td }} text-center">{{ component('ValueBoolean', {value: item.Finished}) }}</td>
        </tr>
    {% else %}
        {{ component('TableEmpty', {value: 8}) }}
    {% endfor %}
    </tbody>
    <thead>
        {{ _self.legend() }}
    </thead>
    <tfoot>
        {{ _self.legend() }}
    </tfoot>
{% endblock %}

{% macro legend() %}
    <tr>
        <th class="col-xxl-1">{{ 'text.mode'|trans }}</th>
        <th class="col-xxl-1">{{ 'text.chapter'|trans }}</th>
        <th class="col-xxl-1">{{ 'text.order.race'|trans|raw }}</th>
        <th class="col-xxl-auto">{{ 'text.season'|trans }}</th>
        <th class="col-xxl-auto">{{ 'text.name-english'|trans|raw }}</th>
        <th class="col-xxl-auto">{{ 'text.name-french'|trans|raw }}</th>
        <th class="col-xxl-1">{{ 'text.time'|trans }}</th>
        <th class="col-xxl-1">{{ 'text.finished'|trans }}</th>
    </tr>
{% endmacro %}
