
<div class="input-group{# sticky-bottom #}">
    <a
        href="{{ path(links.index) }}"
        class="{{ classes.button.back }}{# btn btn-lg btn-outline-warning #} btn-lg fw-bolder rounded-start-5 w-25"
    >
        {{ 'btn.back'|trans }}
    </a>
    <button
        type="submit"
        class="{{ classes.button.success }}{# btn btn-outline-success #} btn-lg fw-bolder rounded-end-5 w-75"
    >
        {{ 'btn.register'|trans }}
    </button>
</div>
