
<section class="{{ container|default('container') }}">
    <div class="row row-cols-5 mb-3">
        <div class="col">{{ form_row(form.status.unblock) }}</div>
        <div class="col">{{ form_row(form.status.gold) }}</div>
        <div class="col">{{ form_row(form.status.evo) }}</div>
        <div class="col">{{ form_row(form.status.eventClass) }}</div>
        <div class="col">{{ form_row(form.status.toUpgrade) }}</div>
    </div>
</section>
