{% block table %}
        <tbody>
        {% for item in entities %}
            <tr>
                <td>{{ item.week }}</td>
                <td>{{ item.region }}</td>
                <td>{{ item.track }}</td>
                <td>{{ item.class }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.success }}</td>
                <td>{{ item.target }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <thead>
            {{ _self.legend() }}
        </thead>
        <tfoot>
            {{ _self.legend() }}
        </tfoot>
{% endblock %}

{% block id %} id="Mission"{% endblock %}

{% macro legend() %}
            <tr class="sticky-top">
                <th>{{ 'text.week'|trans }}</th>
                <th>{{ 'text.region'|trans }}</th>
                <th>{{ 'text.track'|trans }}</th>
                <th>{{ 'text.class'|trans }}</th>
                <th>{{ 'text.brand'|trans }}</th>
                <th>{{ 'text.description'|trans }}</th>
                <th>{{ 'text.success'|trans }}</th>
                <th>{{ 'text.target'|trans }}</th>
            </tr>
{% endmacro %}

{% extends '@App/contents/front/list.html.twig' %}
