{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
<tbody>
{% for entity in entities %}
    <tr>
        <td class="my-0 py-0 align-middle">{{ entity.Mode }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.Chapter }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.Season }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.Order }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.English }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.French }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.Time }}</td>
        <td class="my-0 py-0 align-middle">{{ entity.Finished }}</td>
        <td class="my-0 py-0 align-middle"><a class="btn btn-outline-info" href="{{ path('app.race.update', {'id': entity.id, 'slug': entity.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;{{ 'btn.update'|trans }}</a></td>
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 9}) }}
{% endfor %}
</tbody>
<thead>
{{ _self.legend() }}
</thead>
<tfoot>
{{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.mode'|trans }}</th>
    <th>{{ 'table.chapter'|trans }}</th>
    <th>{{ 'table.season'|trans }}</th>
    <th>{{ 'table.order.race'|trans }}</th>
    <th>{{ 'table.name.english'|trans }}</th>
    <th>{{ 'table.name.french'|trans }}</th>
    <th>{{ 'table.time'|trans }}</th>
    <th>{{ 'table.finished'|trans }}</th>
    <th>{{ 'table.actions'|trans }}</th>
</tr>
{% endmacro %}
