{% extends '@App/bases/front/page-index.html.twig' %}

{% block table %}
<tbody>
{% for entity in entities %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.raceOrder }}</td>
        <td>{{ component('ValueBoolean', {value: entity.finished}) }}</td>
        <td>{{ entity.slug }}</td>
        <td><a class="btn btn-outline-info" href="{{ path('app.race.update', {'id': entity.id, 'slug': entity.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;{{ 'btn.update' | trans }}</a></td>
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 10}) }}
{% endfor %}
</tbody>
<thead>
{{ _self.legend() }}
</thead>
<tfoot>
{{ _self.legend() }}
</tfoot>
{% endblock %}

{% macro legend() %}
<tr>
    <th>{{ 'table.id' | trans }}</th>
    <th>{{ 'table.order.race' | trans }}</th>
    <th>{{ 'table.finished' | trans }}</th>
    <th>{{ 'table.slug' | trans }}</th>
    <th>{{ 'table.actions' | trans }}</th>
</tr>
{% endmacro %}
