{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table id="RaceTable" class="{{ classes.table_index }}"
       data-buttons-toolbar=".buttons-toolbar"
       data-sort-class="table-secondary"
    >
        {% include '@App/app/race/_table.html.twig' %}
    </table>
{% endblock %}

{% block card %}{% include('@App/partials/index-card/race.html.twig') %}{% endblock %}

{#{% block importmap %}#}
{#    {{ importmap(['app', 'app-bootstrap-table']) }}#}
{#{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/override-table.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('vendor/bootstrap-table/dist/bootstrap-table.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table-locale-all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
{% endblock %}
