{% extends 'base.html.twig' %}

{% block title %}SettingUnitPrice index{% endblock %}

{% block body %}
    <h1>SettingUnitPrice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Level01</th>
                <th>Level02</th>
                <th>Level03</th>
                <th>Level04</th>
                <th>Level05</th>
                <th>Level06</th>
                <th>Level07</th>
                <th>Level08</th>
                <th>Level09</th>
                <th>Level10</th>
                <th>Level11</th>
                <th>Level12</th>
                <th>Level13</th>
                <th>Common</th>
                <th>Rare</th>
                <th>Epic</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting_unit_price in setting_unit_prices %}
            <tr>
                <td>{{ setting_unit_price.id }}</td>
                <td>{{ setting_unit_price.level01 }}</td>
                <td>{{ setting_unit_price.level02 }}</td>
                <td>{{ setting_unit_price.level03 }}</td>
                <td>{{ setting_unit_price.level04 }}</td>
                <td>{{ setting_unit_price.level05 }}</td>
                <td>{{ setting_unit_price.level06 }}</td>
                <td>{{ setting_unit_price.level07 }}</td>
                <td>{{ setting_unit_price.level08 }}</td>
                <td>{{ setting_unit_price.level09 }}</td>
                <td>{{ setting_unit_price.level10 }}</td>
                <td>{{ setting_unit_price.level11 }}</td>
                <td>{{ setting_unit_price.level12 }}</td>
                <td>{{ setting_unit_price.level13 }}</td>
                <td>{{ setting_unit_price.common }}</td>
                <td>{{ setting_unit_price.rare }}</td>
                <td>{{ setting_unit_price.epic }}</td>
                <td>{{ setting_unit_price.slug }}</td>
                <td>{{ setting_unit_price.createdAt ? setting_unit_price.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_unit_price.updatedAt ? setting_unit_price.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_unit_price.deletedAt ? setting_unit_price.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_setting_unit_price_show', {'id': setting_unit_price.id}) }}">show</a>
                    <a href="{{ path('app_setting_unit_price_edit', {'id': setting_unit_price.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setting_unit_price_new') }}">Create new</a>
{% endblock %}
