{% extends 'base.html.twig' %}

{% block title %}SettingUnitPrice{% endblock %}

{% block body %}
    <h1>SettingUnitPrice</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting_unit_price.id }}</td>
            </tr>
            <tr>
                <th>Level01</th>
                <td>{{ setting_unit_price.level01 }}</td>
            </tr>
            <tr>
                <th>Level02</th>
                <td>{{ setting_unit_price.level02 }}</td>
            </tr>
            <tr>
                <th>Level03</th>
                <td>{{ setting_unit_price.level03 }}</td>
            </tr>
            <tr>
                <th>Level04</th>
                <td>{{ setting_unit_price.level04 }}</td>
            </tr>
            <tr>
                <th>Level05</th>
                <td>{{ setting_unit_price.level05 }}</td>
            </tr>
            <tr>
                <th>Level06</th>
                <td>{{ setting_unit_price.level06 }}</td>
            </tr>
            <tr>
                <th>Level07</th>
                <td>{{ setting_unit_price.level07 }}</td>
            </tr>
            <tr>
                <th>Level08</th>
                <td>{{ setting_unit_price.level08 }}</td>
            </tr>
            <tr>
                <th>Level09</th>
                <td>{{ setting_unit_price.level09 }}</td>
            </tr>
            <tr>
                <th>Level10</th>
                <td>{{ setting_unit_price.level10 }}</td>
            </tr>
            <tr>
                <th>Level11</th>
                <td>{{ setting_unit_price.level11 }}</td>
            </tr>
            <tr>
                <th>Level12</th>
                <td>{{ setting_unit_price.level12 }}</td>
            </tr>
            <tr>
                <th>Level13</th>
                <td>{{ setting_unit_price.level13 }}</td>
            </tr>
            <tr>
                <th>Common</th>
                <td>{{ setting_unit_price.common }}</td>
            </tr>
            <tr>
                <th>Rare</th>
                <td>{{ setting_unit_price.rare }}</td>
            </tr>
            <tr>
                <th>Epic</th>
                <td>{{ setting_unit_price.epic }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ setting_unit_price.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ setting_unit_price.createdAt ? setting_unit_price.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ setting_unit_price.updatedAt ? setting_unit_price.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ setting_unit_price.deletedAt ? setting_unit_price.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_setting_unit_price_index') }}">back to list</a>

    <a href="{{ path('app_setting_unit_price_edit', {'id': setting_unit_price.id}) }}">edit</a>

    {{ include('setting_unit_price/_delete_form.html.twig') }}
{% endblock %}
