
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="{{path('app.dashboard.index')}}">
            <img src="{{ asset(images.logo) }}" width="25" alt="{{ metas.title }}">
            <span class="m-l-10">{{ metas.title | u.truncate(7) }}</span>
        </a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="{{path('app.dashboard.index')}}"><img src="{{ asset('images/sako-01.jpg')}}" alt="User"></a>
                    <div class="detail">
                        <h4>Sako</h4>
                        <small>Rottweiler</small>
                    </div>
                </div>
            </li>
            <li class="active open"><a href="{{path('app.dashboard.index')}}"><i class="zmdi zmdi-home"></i><span>{{ 'app.dashboard.index.title'|trans }}</span></a></li>
            <li><a href="{{path('app.garage.index')}}"><i class="fa-solid fa-car-side"></i><span>{{ 'sidebar.common.garage'|trans }}</span></a></li>
            <li><a href="{{path('app.race.index')}}"><i class="fa-solid fa-flag-checkered"></i><span>{{ 'sidebar.common.race'|trans }}</span></a></li>
            <li><a href="{{path('app.mission.index')}}"><i class="fa-solid fa-bullseye"></i><span>{{ 'sidebar.front.mission'|trans }}</span></a></li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="fa-solid fa-arrow-up-a-z"></i><span>{{ 'sidebar.front.orders'|trans }}</span></a>
                <ul class="ml-menu">
                    <li><a href="{{path('app.page.order.class')}}">{{ 'sidebar.front.orders.class'|trans }}</a></li>
                    <li><a href="{{path('app.page.order.stat')}}">{{ 'sidebar.front.orders.stat'|trans }}</a></li>
                    <li><a href="{{path('app.page.order.event')}}">{{ 'sidebar.front.orders.event'|trans }}</a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle"><i class="fa-solid fa-wrench"></i><span>{{ 'sidebar.common.settings'|trans }}</span></a>
                <ul class="ml-menu">
                    <li><a href="{{path('app.page.setting.blueprint')}}">{{ 'sidebar.front.settings.blueprint'|trans }}</a></li>
                    <li><a href="{{path('app.page.setting.level')}}">{{ 'sidebar.front.settings.level'|trans }}</a></li>
                    <li><a href="{{path('app.page.setting.rank')}}">{{ 'sidebar.front.settings.rank'|trans }}</a></li>
                </ul>
            </li>
            <li> <a href="javascript:void(0);" class="menu-toggle"><i class="fa-solid fa-tags"></i><span>{{ 'sidebar.front.tags'|trans }}</span></a>
                <ul class="ml-menu">
{#                    <li><a href="{{path('app.page.filter.locked')}}">{{ 'sidebar.front.tags.lock'|trans }}</a></li>#}
{#                    <li><a href="{{path('app.page.filter.unlock')}}">{{ 'sidebar.front.tags.unlock'|trans }}</a></li>#}
                    <li><a href="{{path('app.page.filter.gold')}}">{{ 'sidebar.front.tags.gold'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.to.upgrade'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.to.gold'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.to.unlock'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.gauntlet.top1'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.gauntlet.top2'|trans }}</a></li>
                    <li><a href="javascript:void(0);">{{ 'sidebar.front.tags.gauntlet.top3'|trans }}</a></li>
                </ul>
            </li>
            <li>
                <div class="progress-container progress-primary m-t-10">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                    </div>
                    <span class="progress-badge">
                        <a href="{{path('app.dashboard.admin')}}" target="_blank">{{ 'app.dashboard.admin.title'|trans }}</a>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</aside>
