{#<div{{ attributes }}>#}
{#</div>#}
<!-- component html -->
{% if app.current_route starts with link %}
    <li class="active"><a href="#dropdown-{{ drop }}" aria-expanded="true" data-toggle="collapse"><i class="la la-filter"></i><span>{{ title }}</span></a>
    <ul id="dropdown-{{ drop }}" class="list-unstyled pt-0 collapse show">
{% else %}
    <li><a href="#dropdown-{{ drop }}" aria-expanded="false" data-toggle="collapse"><i class="la la-filter"></i><span>{{ title }}</span></a>
    <ul id="dropdown-{{ drop }}" class="collapse list-unstyled pt-0">
{% endif %}
