{#<div class="card mb-md-3">#}

{#    <div class="card-header">#}
{#        <h3 class="card-title">#}
{#            {{ 'text.status'|trans|plural }}#}
{#        </h3>#}
{#    </div>#}

{#    <div class="card-body">#}

        <div class="row row-cols-5">
            <div class="col">
                <twig:FormCheckbox form="{{ form.status.unblock }}" />
            </div>
            <div class="col">
                <twig:FormCheckbox form="{{ form.status.gold }}" />
            </div>
            <div class="col">
                <twig:FormCheckbox form="{{ form.status.evo }}" />
            </div>
            <div class="col">
                <twig:FormCheckbox form="{{ form.status.eventClass }}" />
            </div>
            <div class="col">
                <twig:FormCheckbox form="{{ form.status.toUpgrade }}" />
            </div>
        </div>

{#    </div>#}

{#</div>#}
