<h2 class="float-start h1">{{ controller_name }}</h2>

{% for item in items %}
    {% if loop.length == 3 and items.2 == 'index' and loop.last %}
        <a class="float-end btn btn-lg btn-outline-success w-25 text-uppercase" href="{{ path(create) }}">Create</a>
    {% endif %}

    {% if loop.length == 4 and items.3 == 'index' and loop.last %}
        <a class="float-end btn btn-lg btn-outline-success w-25 text-uppercase" href="{{ path(create) }}">Create</a>
    {% endif %}
{% endfor %}

{% if
    app.current_route starts with 'app.page.filter.' or
    app.current_route starts with 'app.page.order.' or
    app.current_route starts with 'app.page.setting.'
%}
    {{ component('ListClass', {'link': app.request.attributes.get('_route')}) }}
{% endif %}

{% if app.current_route starts with 'app.page.search.' %}
    {% if count is defined and count is not null %}
    <span class="float-end badge rounded-pill text-bg-primary h3">{{ count }} résultat(s)</span>
    {% endif %}
{% endif %}
