{% extends '@App/bases/full.html.twig' %}

{% block datas %}
{{ form_start(form) }}
    <div class="row bg-secondary">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col-3">{{ form_row(form.label) }}</div>
        <div class="col-3">{{ form_row(form.value) }}</div>
        <div class="col-3">{{ form_row(form.classOrder) }}</div>
        <div class="col-3">{{ form_row(form.median) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_rest(form) }}</div>
    </div>

    {{ component('FormSaveDatas', {link: index}) }}
{{ form_end(form) }}

{% if items.3 == 'update' %}
    {{ component('FormDeleteDatas', {link: 'admin.setting.class.delete', id: setting_class.id}) }}
{% endif %}

{% endblock %}
