{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Value</th>
                <th>Class Order</th>
                <th>Cars Number</th>
                <th>Median</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class in settingClasses %}
            <tr>
                <td>{{ class.id }}</td>
                <td>{{ class.label }}</td>
                <td>{{ class.value }}</td>
                <td>{{ class.classOrder }}</td>
                <td>{{ class.carsNumber }}</td>
                <td>{{ class.median }}</td>
                <td>{{ class.slug }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: class.id, slug: class.slug, path: 'admin.setting.class.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 8}) }}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
