{% extends '@App/bases/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Stylesheet -->
    <link href="{{ asset('themes/aero/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <!-- Custom Css -->
    <link href="{{ asset('themes/aero/assets/css/style.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}<body class="theme-blue">{% endblock %}

{% block containers %}
    {% block preloader %}
{#        {% include '@App/partials/front/loader.html.twig' %}#}
    {% endblock %}

    {% block search %}
        {% include '@App/partials/front/search.html.twig' %}
    {% endblock %}

    {% block navbar %}
{#        {% include '@App/partials/front/navbar.html.twig' %}#}
    {% endblock %}

    {% block leftsidebar %}
        {% include '@App/partials/front/sidebar-left.html.twig' %}
    {% endblock %}

    {% block rightsidebar %}
{#        {% include '@App/partials/front/sidebar-right.html.twig' %}#}
    {% endblock %}

    {% include '@App/partials/commons/alert.html.twig' %}

<section class="content mr-2">
    {% include '@App/partials/front/breadcrumb.html.twig' %}

    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Jquery Core Js -->
    <script src="{{ asset('themes/aero/assets/bundles/libscripts.bundle.js') }}"></script>
    <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
    <script src="{{ asset('themes/aero/assets/bundles/vendorscripts.bundle.js') }}"></script>
    <script src="{{ asset('themes/aero/assets/bundles/mainscripts.bundle.js') }}"></script>
{#    <script src="{{ asset('themes/aero/assets/js/pages/index.js') }}"></script>#}
{% endblock %}
