
<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.0.label, datas: rares.0, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.1.label, datas: rares.1, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.2.label, datas: rares.2, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.3.label, datas: rares.3, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.4.label, datas: rares.4, icon: null}) }}
</section>

<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.5.label, datas: rares.5, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.6.label, datas: rares.6, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.7.label, datas: rares.7, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.8.label, datas: rares.8, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.9.label, datas: rares.9, icon: null}) }}
</section>

<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.10.label, datas: rares.10, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.11.label, datas: rares.11, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.12.label, datas: rares.12, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.13.label, datas: rares.13, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.14.label, datas: rares.14, icon: null}) }}
</section>

<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.15.label, datas: rares.15, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.16.label, datas: rares.16, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.17.label, datas: rares.17, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.18.label, datas: rares.18, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', title: rares.19.label, datas: rares.19, icon: null}) }}
</section>
