
<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.20, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.21, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.22, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.23, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.24, icon: null}) }}
</section>
