
<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.0, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.1, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.2, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.3, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.4, icon: null}) }}
</section>
