
<section class="row">
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.15, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.16, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.17, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.18, icon: null}) }}
    {{ component('FormInventory', {maxValue: 100, color: 'danger', datas: jokers.19, icon: null}) }}
</section>
