
<section>
    <table class="{{ classes.index_table }}">
        <tbody>
            <tr class="font-weight-bolder">
                <td class="my-0 py-1 align-middle text-left">Garages</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.total.D }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.total.C }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.total.B }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.total.A }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.total.S }}</td>
                <td class="my-0 py-1 align-middle text-right">{{ dashboard.total.Total }}</td>
            </tr>
            <tr class="font-weight-bolder">
                <td class="my-0 py-1 align-middle text-left">Unlock</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.unlock.D }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.unlock.C }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.unlock.B }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.unlock.A }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.unlock.S }}</td>
                <td class="my-0 py-1 align-middle text-right">{{ dashboard.unlock.Total }}</td>
            </tr>
            <tr class="font-weight-bolder">
                <td class="my-0 py-1 align-middle text-left">Locked</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.lock.D }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.lock.C }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.lock.B }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.lock.A }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.lock.S }}</td>
                <td class="my-0 py-1 align-middle text-right">{{ dashboard.lock.Total }}</td>
            </tr>
            <tr class="font-weight-bolder">
                <td class="my-0 py-1 align-middle text-left">Gold</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.gold.D }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.gold.C }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.gold.B }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.gold.A }}</td>
                <td class="my-0 py-1 align-middle text-center">{{ dashboard.gold.S }}</td>
                <td class="my-0 py-1 align-middle text-right">{{ dashboard.gold.Total }}</td>
            </tr>
        </tbody>
        <thead>
            <tr class="table-info text-dark">
                <th class="my-0 py-1 align-middle text-left">Legend</th>
                <th class="my-0 py-1 align-middle text-center">Cl. D</th>
                <th class="my-0 py-1 align-middle text-center">Cl. C</th>
                <th class="my-0 py-1 align-middle text-center">Cl. B</th>
                <th class="my-0 py-1 align-middle text-center">Cl. A</th>
                <th class="my-0 py-1 align-middle text-center">Cl. S</th>
                <th class="my-0 py-1 align-middle text-right">Total</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="table-info text-dark">
                <th class="my-0 py-1 align-middle text-left">Legend</th>
                <th class="my-0 py-1 align-middle text-center">Cl. D</th>
                <th class="my-0 py-1 align-middle text-center">Cl. C</th>
                <th class="my-0 py-1 align-middle text-center">Cl. B</th>
                <th class="my-0 py-1 align-middle text-center">Cl. A</th>
                <th class="my-0 py-1 align-middle text-center">Cl. S</th>
                <th class="my-0 py-1 align-middle text-right">Total</th>
            </tr>
        </tfoot>
    </table>
</section>
