
<section>
    <table class="{{ classes.index_table }}">
        <tbody>
        <tr class="font-weight-bolder">
            <td class="p-2 text-left">Garages</td>
            <td class="p-2 text-center">{{ dashboard.total.D }}</td>
            <td class="p-2 text-center">{{ dashboard.total.C }}</td>
            <td class="p-2 text-center">{{ dashboard.total.B }}</td>
            <td class="p-2 text-center">{{ dashboard.total.A }}</td>
            <td class="p-2 text-center">{{ dashboard.total.S }}</td>
            <td class="p-2 text-right">{{ dashboard.total.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="p-2 text-left">Unlock</td>
            <td class="p-2 text-center">{{ dashboard.unlock.D }}</td>
            <td class="p-2 text-center">{{ dashboard.unlock.C }}</td>
            <td class="p-2 text-center">{{ dashboard.unlock.B }}</td>
            <td class="p-2 text-center">{{ dashboard.unlock.A }}</td>
            <td class="p-2 text-center">{{ dashboard.unlock.S }}</td>
            <td class="p-2 text-right">{{ dashboard.unlock.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="p-2 text-left">Locked</td>
            <td class="p-2 text-center">{{ dashboard.lock.D }}</td>
            <td class="p-2 text-center">{{ dashboard.lock.C }}</td>
            <td class="p-2 text-center">{{ dashboard.lock.B }}</td>
            <td class="p-2 text-center">{{ dashboard.lock.A }}</td>
            <td class="p-2 text-center">{{ dashboard.lock.S }}</td>
            <td class="p-2 text-right">{{ dashboard.lock.Total }}</td>
        </tr>
        <tr class="font-weight-bolder">
            <td class="p-2 text-left">Gold</td>
            <td class="p-2 text-center">{{ dashboard.gold.D }}</td>
            <td class="p-2 text-center">{{ dashboard.gold.C }}</td>
            <td class="p-2 text-center">{{ dashboard.gold.B }}</td>
            <td class="p-2 text-center">{{ dashboard.gold.A }}</td>
            <td class="p-2 text-center">{{ dashboard.gold.S }}</td>
            <td class="p-2 text-right">{{ dashboard.gold.Total }}</td>
        </tr>
        </tbody>
        <thead>
        <tr>
            <th class="p-2 text-left">Legend</th>
            <th class="p-2 text-center">Cl. D</th>
            <th class="p-2 text-center">Cl. C</th>
            <th class="p-2 text-center">Cl. B</th>
            <th class="p-2 text-center">Cl. A</th>
            <th class="p-2 text-center">Cl. S</th>
            <th class="p-2 text-right">Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th class="p-2 text-left">Legend</th>
            <th class="p-2 text-center">Cl. D</th>
            <th class="p-2 text-center">Cl. C</th>
            <th class="p-2 text-center">Cl. B</th>
            <th class="p-2 text-center">Cl. A</th>
            <th class="p-2 text-center">Cl. S</th>
            <th class="p-2 text-right">Total</th>
        </tr>
        </tfoot>
    </table>
</section>
