{% extends '@App/bases/full.html.twig' %}

{% block datas %}
<table class="{{ classes.table_index }}">
    <thead>
        <tr>
            <th class="col-1 text-center">#</th>
            <th class="col-3 text-start">Car</th>
            <th class="col-1 text-center">Start</th>
            <th class="col-1 text-center">1&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-center">2&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-center">3&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-center">4&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-center">5&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-center">6&nbsp;<i class="fa-solid fa-star fa-rotate-90"></i></th>
            <th class="col-1 text-end">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for item in results %}
        <tr>
            <td class="col-1 text-center">{{ loop.index }}</td>
            <td class="col-3 text-start"><a href="{{ path('app.garage.update', {'id': item.id, 'slug': item.slug}) }}" target="_blank">{{ item.brand }} {{ item.model }}</a></td>
            <td class="col-1 text-center">{{ item.star0|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star1|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star2|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star3|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star4|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star5|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-center">{{ item.star6|number_format(0, '.', ' ') }}</td>
            <td class="col-1 text-end">{{ component('ButtonEdit', { path: 'app.garage.update', id: item.id, slug: item.slug, target: true }) }}</td>
        </tr>
    {% else %}
        {{ component('TableNoRecords', { value: 10 }) }}
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/override-table.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
