{% extends 'base.html.twig' %}

{% block title %}RaceTrack index{% endblock %}

{% block body %}
    <h1>RaceTrack index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameEnglish</th>
                <th>NameFrench</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race_track in race_tracks %}
            <tr>
                <td>{{ race_track.id }}</td>
                <td>{{ race_track.nameEnglish }}</td>
                <td>{{ race_track.nameFrench }}</td>
                <td>{{ race_track.slug }}</td>
                <td>{{ race_track.createdAt ? race_track.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ race_track.updatedAt ? race_track.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ race_track.deletedAt ? race_track.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_race_track_show', {'id': race_track.id}) }}">show</a>
                    <a href="{{ path('app_race_track_edit', {'id': race_track.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_race_track_new') }}">Create new</a>
{% endblock %}
