<div class="jumbotron bg-secondary p-3 mb-0">
    {{ form_start(form, {'attr': {'class': 'm-0'}}) }}
    {{ form_errors(form) }}
    <div class="form-row row-cols-6 g-4">
        <div class="col">{{ form_widget(form.mode) }}</div>
        <div class="col">{{ form_widget(form.season) }}</div>
        <div class="col">{{ form_widget(form.time) }}</div>
        <div class="col">{{ form_widget(form.raceOrder) }}</div>
        <div class="col">
            <div class="btn-group" role="group" aria-label="finished">
                <input type="checkbox" id="finished" class="btn-check" name="{{ field_name(form.finished) }}" autocomplete="off" value="{{ field_value(form.finished) }}">
                <label class="btn btn-outline-primary rounded-pill" for="finished">Is Finished ?</label>
            </div>
        </div>
        <div class="col text-end"><button type="submit" class="btn btn-outline-success px-3 text-uppercase"><i class="la la-search la-lg"></i>Search</button></div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
