{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Slug</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.value }}</td>
                <td>{{ task.slug }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: task.id, slug: task.slug, path: 'admin.mission.task.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 4}) }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
