{% extends 'base.html.twig' %}

{% block title %}SettingLevel{% endblock %}

{% block body %}
    <h1>SettingLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting_level.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ setting_level.level }}</td>
            </tr>
            <tr>
                <th>Common</th>
                <td>{{ setting_level.common }}</td>
            </tr>
            <tr>
                <th>Rare</th>
                <td>{{ setting_level.rare }}</td>
            </tr>
            <tr>
                <th>Epic</th>
                <td>{{ setting_level.epic }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ setting_level.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ setting_level.createdAt ? setting_level.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ setting_level.updatedAt ? setting_level.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ setting_level.deletedAt ? setting_level.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_setting_level_index') }}">back to list</a>

    <a href="{{ path('app_setting_level_edit', {'id': setting_level.id}) }}">edit</a>

    {{ include('setting_level/_delete_form.html.twig') }}
{% endblock %}
