
<!-- Header -->
<header>
    <div class="px-3 py-2 border-bottom">
        <div class="{{ container|default('container') }}">
            <div class="d-inline-flex align-items-center">
                <a href="{{ path('app.dashboard.index') }}" class="col-xxl-auto">
                    <img src="{{ asset(images.logo) }}" alt="{{ metas.title }}" class="img-thumbnail" style="max-height: 50px;" />
                </a>

                <!-- breadcrumb -->
                {% block breadcrumb %}
                    {% include '@App/partials/front/breadcrumb.html.twig' %}
                {% endblock %}

                <ul class="nav col-md-36 col-xxl-auto my-md-0">
                    {{ _self.Nav('app.dashboard.index', 'fa-house', 'text.dashboard'|trans) }}
                    {{ _self.Nav('app.garage.index', 'fa-automobile', 'text.garage'|trans) }}
					<li class="nav-item dropdown">
                        <a class="nav-link text-center text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-regular fa-file d-block mx-auto mb-1" aria-hidden="true"></i>
                            {{ 'text.page'|trans|plural }}
						</a>
						<ul class="dropdown-menu" style="z-index: 10000;">
							<li><hr class="dropdown-divider"></li>
                            <li class="bg-primary-subtle text-uppercase fw-bold px-3 pb-1">{{ 'text.filter'|trans }}</li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.unblock', {'letter': 'S'}) }}">{{ 'text.unblock'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.block', {'letter': 'S'}) }}">{{ 'text.block'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.gold', {'letter': 'S'}) }}">{{ 'text.gold'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.to.upgrade', {'letter': 'S'}) }}">{{ 'text.to.upgrade'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.event', {'letter': 'S'}) }}">{{ 'text.event.class'|trans }}</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.to.unblock', {'letter': 'S'}) }}">{{ 'text.to.unblock'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.to.gold', {'letter': 'S'}) }}">{{ 'text.to.gold'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.to.install.upgrade', {'letter': 'S'}) }}">{{ 'text.to.install.upgrade'|trans|plural }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.to.install.import', {'letter': 'S'}) }}">{{ 'text.to.install.import'|trans|plural }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.full.blueprint', {'letter': 'S'}) }}">{{ 'text.full.blueprint'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.filter.full.evo', {'letter': 'S'}) }}">{{ 'text.full.evo'|trans }}</a></li>
							<li><hr class="dropdown-divider"></li>
                            <li class="bg-primary-subtle text-uppercase fw-bold px-3 pb-1">{{ 'text.order'|trans }}</li>
							<li><a class="dropdown-item" href="{{ path('app.page.order.class', {'letter': 'S'}) }}">{{ 'text.order.class'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.page.order.stat', {'letter': 'S'}) }}">{{ 'text.order.stat'|trans }}</a></li>
{#							<li><hr class="dropdown-divider"></li>#}
{#                            <li class="bg-primary-subtle px-3">{{ 'text.setting'|trans }}</li>#}
{#							<li><a class="dropdown-item" href="{{ path('app.page.setting.blueprint', {'letter': 'S'}) }}">{{ 'text.blueprint'|trans }}</a></li>#}
{#							<li><a class="dropdown-item" href="{{ path('app.page.setting.level', {'letter': 'S'}) }}">{{ 'text.level'|trans }}</a></li>#}
{#							<li><a class="dropdown-item" href="{{ path('app.page.setting.rank', {'letter': 'S'}) }}">{{ 'text.rank'|trans }}</a></li>#}
						</ul>
					</li>
					<li class="nav-item dropdown">
                        <a class="nav-link text-center text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-magnifying-glass d-block mx-auto mb-1" aria-hidden="true"></i>
                            {{ 'text.search'|trans }}
						</a>
						<ul class="dropdown-menu" style="z-index: 10000;">
							<li><a class="dropdown-item" href="{{ path('app.search.garage') }}">{{ 'text.garage'|trans }}</a></li>
							<li><a class="dropdown-item" href="{{ path('app.search.race') }}">{{ 'text.race'|trans }}</a></li>
						</ul>
					</li>
                    {{ _self.Nav('app.mission.index', 'fa-bullseye', 'text.mission'|trans) }}
                    {{ _self.Nav('app.race.index', 'fa-flag-checkered', 'text.race'|trans) }}
                    {{ _self.Nav('admin.dashboard.index', 'fa-user-tie', 'text.back-office'|trans) }}
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="clearfix mt-1"></div>

{% macro Nav(link, icon, text) %}

{% if app.current_route == link %}
    {% set color = 'warning' %}
{% else %}
    {% set color = 'white' %}
{% endif %}

<li>
    <a href="{{ path(link) }}" class="nav-link text-center text-{{ color }}">
        <i class="fa {{ icon }} d-block mx-auto mb-1" aria-hidden="true"></i>
        {{ text }}
    </a>
</li>
{% endmacro %}
