{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">{{ controller_name }}</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="form-error">
                    {{ form_errors(form.settingClass) }}
                    {{ form_errors(form.settingBrand) }}
                    {{ form_errors(form.model) }}
                    {{ form_errors(form.gameUpdate) }}
                    {{ form_errors(form) }}
                </div>

                <div class="row row-cols-2">
                    {{ form_row(form.settingBrand) }}
                    {{ form_row(form.model) }}
                </div>

                <div class="row row-cols-3">
                    {{ form_row(form.settingClass) }}
                    {{ form_row(form.stars) }}
                    {{ form_row(form.gameUpdate, {'attr': {'value': game_update_last}}) }}
                </div>

                <div class="row row-cols-2">
                    <div class="w-25">
                        <a class="btn btn-outline-warning text-uppercase w-100" href="{{ path(links.index) }}">{{ 'btn.back'|trans }}</a>
                    </div>
                    <div class="w-75">
                        <button type="submit" class="btn btn-outline-success text-uppercase w-100">{{ 'btn.create'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}

{% extends '@App/front/bases/full.html.twig' %}
