{% block content %}

{% set background, text = '', '' %}

{% if entity.unlocked == false %}
    {% set background = 'bg-danger-subtle' %}
    {% set text = 'text-danger' %}
{% endif %}

{% if entity.unlocked == true %}
    {% set background = 'bg-success-subtle' %}
    {% set text = 'text-success' %}
{% endif %}

{% if entity.unlocked == true and entity.gold == true %}
    {% set background = 'bg-warning-subtle' %}
    {% set text = 'text-warning' %}
{% endif %}

{#{% if entity.unlocked is true %}#}
{#    {% set status = 'unlock' %}#}
{#{% else %}#}
{#    {% set status = 'lock' %}#}
{#{% endif %}#}

{#{% if entity.gold is true %}#}
{#    {% set gold = 'gold' %}#}
{#{% else %}#}
{#    {% set gold = null %}#}
{#{% endif %}#}

<div class="card {{ background }}">
    <div class="card-header {{ background }}">
        {% include "@App/front/contents/garage/update/_nav.html.twig" %}
    </div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                {% include "@App/front/contents/garage/update/_errors.html.twig" %}
                {% include "@App/front/contents/garage/update/_garage-part-1.html.twig" %}
                <section class="{{ container|default('container') }} mb-2">
                    <div class="row row-cols-sm-1 row-cols-xxl-2">
{#                        <div class="col">{% include "@App/front/contents/garage/update/_stat.html.twig" %}</div>#}
                        <div class="col">{% include "@App/front/contents/garage/update/_stat-2.html.twig" %}</div>
                        <div class="col">{% include "@App/front/contents/garage/update/_upgrade-2.html.twig" %}</div>
                    </div>
                </section>
                {% include "@App/front/contents/garage/update/_blueprint-2.html.twig" %}
                {% include "@App/front/contents/garage/update/_rank-2.html.twig" %}
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                {% include "@App/front/contents/garage/update/_tag.html.twig" %}
                {% include "@App/front/contents/garage/update/_garage-part-2.html.twig" %}
                {{ form_rest(form) }}
            </div>
        </div>
        {% include "@App/front/contents/garage/update/_button.html.twig" %}
        {{ form_end(form) }}
    </div>
    <div class="card-footer">
        {{ include('@App/front/contents/garage/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% extends '@App/front/bases/full.html.twig' %}
