{% extends 'base.html.twig' %}

{% block title %}SettingTag{% endblock %}

{% block body %}
    <h1>SettingTag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ setting_tag.id }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ setting_tag.value }}</td>
            </tr>
            <tr>
                <th>CarsNumber</th>
                <td>{{ setting_tag.carsNumber }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ setting_tag.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ setting_tag.createdAt ? setting_tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ setting_tag.updatedAt ? setting_tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ setting_tag.deletedAt ? setting_tag.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_setting_tag_index') }}">back to list</a>

    <a href="{{ path('app_setting_tag_edit', {'id': setting_tag.id}) }}">edit</a>

    {{ include('setting_tag/_delete_form.html.twig') }}
{% endblock %}
