{% extends 'base.html.twig' %}

{% block title %}SettingBlueprint index{% endblock %}

{% block body %}
    <h1>SettingBlueprint index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Star1</th>
                <th>Star2</th>
                <th>Star3</th>
                <th>Star4</th>
                <th>Star5</th>
                <th>Star6</th>
                <th>Total</th>
                <th>Slug</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting_blueprint in setting_blueprints %}
            <tr>
                <td>{{ setting_blueprint.id }}</td>
                <td>{{ setting_blueprint.star1 }}</td>
                <td>{{ setting_blueprint.star2 }}</td>
                <td>{{ setting_blueprint.star3 }}</td>
                <td>{{ setting_blueprint.star4 }}</td>
                <td>{{ setting_blueprint.star5 }}</td>
                <td>{{ setting_blueprint.star6 }}</td>
                <td>{{ setting_blueprint.total }}</td>
                <td>{{ setting_blueprint.slug }}</td>
                <td>{{ setting_blueprint.createdAt ? setting_blueprint.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_blueprint.updatedAt ? setting_blueprint.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ setting_blueprint.deletedAt ? setting_blueprint.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_setting_blueprint_show', {'id': setting_blueprint.id}) }}">show</a>
                    <a href="{{ path('app_setting_blueprint_edit', {'id': setting_blueprint.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_setting_blueprint_new') }}">Create new</a>
{% endblock %}
