{##}

<!-- Begin Left Sidebar -->
<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <span class="heading">{{ 'sidebar.back.back-office' | trans }}</span>
        <ul class="list-unstyled">
            <li{% if app.request.get('_route') starts with 'app.race.' %} class="active"{% endif %}><a href="#dropdown-db" aria-expanded="{% if app.request.get('_route') starts with 'app.race.' %}true{% else %}false{% endif %}" data-toggle="collapse"><i class="fa-solid fa-flag-checkered mr-3"></i><span>{{ 'sidebar.common.races' | trans }}</span></a>
                <ul id="dropdown-db" class="collapse list-unstyled pt-0{% if app.request.get('_route') starts with 'app.race.' %} show{% endif %}">
                    <li><a href="{{ path('app.race.mode.index') }}">{{ 'sidebar.back.race.mode' | trans }}</a></li>
                    <li><a href="{{ path('app.race.region.index') }}">{{ 'sidebar.back.race.region' | trans }}</a></li>
                    <li><a href="{{ path('app.race.season.index') }}">{{ 'sidebar.back.race.season' | trans }}</a></li>
                    <li><a href="{{ path('app.race.time.index') }}">{{ 'sidebar.back.race.time' | trans }}</a></li>
                    <li><a href="{{ path('app.race.track.index') }}">{{ 'sidebar.back.race.track' | trans }}</a></li>
                </ul>
            </li>
            <li{% if app.request.get('_route') starts with 'app.setting.' %} class="active"{% endif %}><a href="#dropdown-app" aria-expanded="{% if app.request.get('_route') starts with 'app.setting.' %}true{% else %}false{% endif %}" data-toggle="collapse"><i class="fa-solid fa-screwdriver-wrench mr-3"></i><span>{{ 'sidebar.common.settings' | trans }}</span></a>
                <ul id="dropdown-app" class="collapse list-unstyled pt-0{% if app.request.get('_route') starts with 'app.setting.' %} show{% endif %}">
                    <li><a class="active" href="{{ path('app.setting.blueprint.index') }}">{{ 'sidebar.back.setting.blueprint' | trans }}</a></li>
                    <li><a href="{{ path('app.setting.brand.index') }}">{{ 'sidebar.back.setting.brand' | trans }}</a></li>
                    <li><a href="{{ path('app.setting.class.index') }}">{{ 'sidebar.back.setting.class' | trans }}</a></li>
                    <li><a href="{{ path('app.setting.level.index') }}">{{ 'sidebar.back.setting.level' | trans }}</a></li>
                    <li><a href="{{ path('app.setting.tag.index') }}">{{ 'sidebar.back.setting.tag' | trans }}</a></li>
                    <li><a href="{{ path('app.setting.unit-price.index') }}">{{ 'sidebar.back.setting.unit-price' | trans }}</a></li>
                </ul>
            </li>
            <li{% if app.request.get('_route') starts with 'app.mission.' %} class="active"{% endif %}><a href="#dropdown-ui" aria-expanded="{% if app.request.get('_route') starts with 'app.mission.' %}true{% else %}false{% endif %}" data-toggle="collapse"><i class="fa-solid fa-bullseye mr-3"></i><span>{{ 'sidebar.common.missions' | trans }}</span></a>
                <ul id="dropdown-ui" class="collapse list-unstyled pt-0{% if app.request.get('_route') starts with 'app.mission.' %} show{% endif %}">
                    <li><a href="{{ path('app.mission.task.index') }}">{{ 'sidebar.back.mission.task' | trans }}</a></li>
                    <li><a href="{{ path('app.mission.type.index') }}">{{ 'sidebar.back.mission.type' | trans }}</a></li>
                </ul>
            </li>
            <li><a href="{{ path('app.inventory.index') }}"><i class="fa-solid fa-box-archive mr-3"></i><span>{{ 'sidebar.back.inventory' | trans }}</span></a></li>
        </ul>
        <span class="heading">{{ 'sidebar.back.front-office' | trans }}</span>
        <ul class="list-unstyled">
            <li><a href="{{ path('app.dashboard.index') }}"><i class="fa-solid fa-box-archive mr-3"></i><span>{{ 'app.dashboard.index.title' | trans }}</span></a></li>
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->
