<section class="card bg-gradient-02 py-0">
    <div class="card-header"><h3 class="text-center pt-1">Garage</h3></div>
    <div class="card-body">
{#        <div class="card-group">#}

        <div class="row row-cols-5 g-2">
            <div class="col-1">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        {{ form_label(form.settingClass) }}
                    </div>
                    <div class="card-body p-1">
                        {{ form_widget(form.settingClass) }}
                        {{ form_errors(form.settingClass) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        {{ form_label(form.settingBrand) }}
                    </div>
                    <div class="card-body p-1">
                        {{ form_widget(form.settingBrand) }}
                        {{ form_errors(form.settingBrand) }}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        {{ form_label(form.model) }}
                    </div>
                    <div class="card-body p-1">
                        {{ form_widget(form.model) }}
                        {{ form_errors(form.model) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        {{ form_label(form.level) }}
                    </div>
                    <div class="card-body p-1">
                        {{ form_widget(form.level, {attr: {'max': garage.settingLevel.level}}) }}
                        {{ form_errors(form.level) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        {{ form_label(form.epic) }}
                    </div>
                    <div class="card-body p-1">
                        {{ form_widget(form.epic, {attr: {'max': garage.settingLevel.epic}}) }}
                        {{ form_errors(form.epic) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <div class="card bg-primary">
                    <div class="card-header text-center">
                        <label class="m-0 form-label required" for="median">Median</label>
                    </div>
                    <div class="card-body p-1">
                        <input type="text" id="median" name="median" autocomplete="off" class="form-control-lg text-center form-control bg-secondary" value="{{ garage.settingClass.median }}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
