<section class="card bg-primary py-0 mb-4">
    <div class="card-header"><h3 class="text-center pt-1">Ranks</h3></div>
    <div class="card-body">
        <div class="card-group">
            {{ component('CardGarageRank', {
                form: form.rank.0.star0,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star1,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star2,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star3,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star4,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star5,
                background: none,
            }) }}
            {{ component('CardGarageRank', {
                form: form.rank.0.star6,
                background: none,
            }) }}
        </div>
    </div>
</section>
