<thead>{#  class="sticky-top" #}
    <tr>
        <th class="text-start" data-sortable="true">Brand</th>
        <th class="text-start" data-sortable="true">Model</th>
        <th class="text-center">Class</th>
        <th class="text-center" data-sortable="true">Game</th>
        <th class="text-center">Level</th>
        <th class="text-center">Epic</th>
        <th class="text-center">Locked</th>
        <th class="text-center">BP</th>
        <th class="text-center">Gold</th>
        <th class="text-center">2Unl.</th>
        <th class="text-center">2Gold</th>
        <th class="text-center">2Upg.</th>
        <th class="text-end">Actions</th>
    </tr>
</thead>
<tbody>
{% for garage in garages %}

{#    {% cache 'cacheGarage-'~garage.id ttl(garage.updatedAt.timestamp) %}#}
    <tr>
        <td class="text-start"><a href="{{ path('app.garage.update', {'id': garage.id, 'slug': garage.slug}) }}" target="_blank">{{ garage.brand }}</a></td>
        <td class="text-start"><a href="{{ path('app.garage.update', {'id': garage.id, 'slug': garage.slug}) }}" target="_blank">{{ garage.model }}</a></td>
        <td class="text-center">{{ garage.classValue }}</td>
        <td class="text-center">{{ garage.gameUpdate }}</td>
        <td class="text-center">{{ garage.level }}</td>
        <td class="text-center">{{ garage.epic }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.locked}) }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.fullbp}) }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.gold}) }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.tounlocked}) }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.togold}) }}</td>
        <td class="text-center">{{ component('Boolean', {value: garage.toupgrade}) }}</td>
        <td class="text-end">
            <div class="btn-group no-padding" role="group" aria-label="Action">
                <a class="btn btn-outline-warning p-2" href="{{ path('app.garage.read', {'id': garage.id, 'slug': garage.slug}) }}" target="_blank">read&nbsp;<i class="fa-solid fa-file"></i></a>
                <a class="btn btn-outline-info p-2" href="{{ path('app.garage.update', {'id': garage.id, 'slug': garage.slug}) }}" target="_blank"><i class="fa-solid fa-pencil"></i>&nbsp;Edit</a>
            </div>
        </td>
    </tr>
{#    {% endcache %}#}
{% else %}
    {{ component('TableNoRecords', {value: 13}) }}
{% endfor %}
</tbody>
