{% extends '@App/bases/full.html.twig' %}

{% block contents %}
    <h1>AppGarage</h1>

    <table class="{{ classes.table_index }}">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage.id }}</td>
            </tr>
            <tr>
                <th>Stars</th>
                <td>{{ garage.stars }}</td>
            </tr>
            <tr>
                <th>GameUpdate</th>
                <td>{{ garage.gameUpdate }}</td>
            </tr>
            <tr>
                <th>CarOrder</th>
                <td>{{ garage.carOrder }}</td>
            </tr>
            <tr>
                <th>StatOrder</th>
                <td>{{ garage.statOrder }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ garage.level }}</td>
            </tr>
            <tr>
                <th>Epic</th>
                <td>{{ garage.epic }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ garage.model }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ garage.slug }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ garage.createdAt ? garage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ garage.updatedAt ? garage.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeletedAt</th>
                <td>{{ garage.deletedAt ? garage.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app.garage.index') }}">back to list</a>

    <a href="{{ path('app.garage.update', {'id': garage.id, 'slug': garage.slug}) }}">edit</a>

{#    {{ include('app/garage/_delete_form.html.twig') }}#}
{% endblock %}
