<!-- Begin Page Header-->
<div class="row">
    <div class="page-header">
        <div class="d-flex align-items-center">
            <h2 class="page-header-title">{{ metas.title }}</h2>
            <div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app.dashboard.index') }}"><i class="ti ti-home"></i></a></li>
{% if breadcrumb is iterable %}
                    <li class="breadcrumb-item"><a href="{{ path(index) }}">{{ breadcrumb.lvl1 }}</a></li>
                    <li class="breadcrumb-item active">{{ breadcrumb.lvl2 }}</li>
{% else %}
                    <li class="breadcrumb-item active">{{ breadcrumb }}</li>
{% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Header -->
