
<!-- Begin Page Footer-->
<footer class="main-footer">
	<div class="row">
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-center">
			<p>Design By <span class="text-danger">Karlito-Web</span></p>
		</div>
		<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex align-items-center justify-content-xl-end justify-content-lg-end justify-content-md-end justify-content-center">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('sitemap.index') }}">Sitemap</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0);">Documentation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="javascript:void(0);">Changelog</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
<!--// End Page Footer //-->
<footer class="main-footer row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 border-top">
    <div class="col mb-3">
        <a href="{{ path('app.dashboard.index') }}" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img src="{{ asset(logo) }}" alt="{{ metas.title }}" class="img-fluid w-75">
        </a>
        <p class="text-body-secondary">&copy; 2024</p>
    </div>
    <div class="col mb-3">
    </div>
    <div class="col mb-3">
        <h5>App</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ path('app.dashboard.index') }}" class="nav-link p-0">Home</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.inventory.index') }}" class="nav-link p-0">Inventory</a></li>
            <li class="nav-item mb-2"><a href="{{ path('app.mission.index') }}" class="nav-link p-0">Mission</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.mission.task.index') }}" class="nav-link p-0">Task</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.mission.type.index') }}" class="nav-link p-0">Type</a></li>
        </ul>
    </div>
    <div class="col mb-3">
        <h5>Settings</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ path('admin.setting.blueprint.index') }}" class="nav-link p-0">Blueprint</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.setting.brand.index') }}" class="nav-link p-0">Brand</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.setting.class.index') }}" class="nav-link p-0">Class</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.setting.level.index') }}" class="nav-link p-0">Level</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.setting.unitprice.index') }}" class="nav-link p-0">Unit Price</a></li>
        </ul>
    </div>
    <div class="col mb-3">
        <h5>Races</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="{{ path('admin.race.mode.index') }}" class="nav-link p-0">Mode</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.race.region.index') }}" class="nav-link p-0">Region</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.race.season.index') }}" class="nav-link p-0">Season</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.race.time.index') }}" class="nav-link p-0">Time</a></li>
            <li class="nav-item mb-2"><a href="{{ path('admin.race.track.index') }}" class="nav-link p-0">Track</a></li>
        </ul>
    </div>
</footer>
