<!-- Begin Header -->
<header class="header">
    <nav class="navbar fixed-top">
        <!-- Begin Search Box-->
        <div class="search-box">
            <button class="dismiss"><i class="ion-close-round"></i></button>
            <form id="searchForm" action="#" role="search">
                <label for=""><input type="search" class="form-control" placeholder="Search something ..." /></label>
            </form>
        </div>
        <!-- End Search Box-->
        <!-- Begin Topbar -->
        <div class="navbar-holder d-flex align-items-center align-middle justify-content-between">
            <!-- Begin Logo -->
            <div class="navbar-header">
                <a href="{{ path('app.dashboard.index') }}" class="navbar-brand">
                    <div class="brand-image brand-big">
                        <img src="{{ asset(logo) }}" class="logo-big" alt="{{ metas.title }}" style="max-height: 60px; max-width: 60px;">
                    </div>
                    <div class="brand-image brand-small">
                        <img src="{{ asset(logo) }}" class="logo-small" alt="{{ metas.title }}">
                    </div>
                </a>
                <!-- Toggle Button -->
                <a id="toggle-btn" href="javascript:void(0);" class="menu-btn active">
{#                <a id="toggle-btn" href="javascript:void(0);" class="menu-btn">#}
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!-- End Toggle -->
            </div>
            <!-- End Logo -->

            <h1>{{ controller_name }}</h1>

            <!-- Begin Navbar Menu -->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center pull-right">
                <!-- Search -->
                <li class="nav-item d-flex align-items-center"><a id="search" href="javascript:void(0);"><i class="la la-search"></i></a></li>
                <!-- End Search -->
                {% include('@App/partials/header-sub-admin.html.twig') %}
                {% include('@App/partials/header-sub-user.html.twig') %}
                <!-- Begin Quick Actions -->
                <li class="nav-item"><a href="#off-canvas" class="open-sidebar"><i class="la la-ellipsis-h"></i></a></li>
                <!-- End Quick Actions -->
            </ul>
            <!-- End Navbar Menu -->
        </div>
        <!-- End Topbar -->
    </nav>
</header>
<!-- End Header -->
