
                <!-- Begin Admin -->
                <li class="nav-item dropdown">
                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">
                        <i class="la la-cog animated infinite swing"></i><span class="badge-pulse"></span>
                    </a>
                    <ul aria-labelledby="notifications" class="dropdown-menu notification">
                        <li>
                            <div class="notifications-header">
                                <div class="title">Admin</div>
                                <div class="notifications-overlay"></div>
                                <img src="{{ asset('themes/elisyam/img/notifications/01.jpg') }}" class="img-fluid" alt="{{ metas.title }}">
                            </div>
                        </li>
                        <li>
                            <a href="{{ path('admin.setting.blueprint.index') }}">
                                <div class="message-icon">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">Blueprint</div>
                                    <span class="date">blueprint</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin.race.track.index') }}">
                                <div class="message-icon">
                                    <i class="la la-calendar-check-o"></i>
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">Track</div>
                                    <span class="date">track</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin.mission.task.index') }}">
                                <div class="message-icon">
                                    <i class="la la-history"></i>
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">Task</div>
                                    <span class="date">task</span>
                                </div>
                            </a>
                            <a href="{{ path('admin.mission.type.index') }}">
                                <div class="message-icon">
                                    <i class="la la-history"></i>
                                </div>
                                <div class="message-body">
                                    <div class="message-body-heading">Type</div>
                                    <span class="date">type</span>
                                </div>
                            </a>
                        </li>
                        <!-- <li> -->
                        <!--     <a href="javascript:void(0);"> -->
                        <!--         <div class="message-icon"> -->
                        <!--             <i class="la la-twitter"></i> -->
                        <!--         </div> -->
                        <!--         <div class="message-body"> -->
                        <!--             <div class="message-body-heading"> -->
                        <!--                 You have 3 new followers -->
                        <!--             </div> -->
                        <!--             <span class="date">10 hours ago</span> -->
                        <!--         </div> -->
                        <!--     </a> -->
                        <!-- </li> -->
                        <li>
                            <a rel="nofollow" href="javascript:void(0);" class="dropdown-item all-notifications text-center">View All Admin</a>
                        </li>
                    </ul>
                </li>
                <!-- End Admin -->
