
<!-- Begin Left Sidebar -->
<div class="default-sidebar">
    <!-- Begin Side Navbar -->
{#    {% if app.current_route != 'app.dashboard.index' %}#}
{#    <nav class="side-navbar box-scroll sidebar-scroll shrinked">#}
{#    {% else %}#}
    <nav class="side-navbar box-scroll sidebar-scroll">
{#    {% endif %}#}
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li{% if app.current_route starts with 'app.dashboard' %} class="active"{% endif %}><a href="{{ path('app.dashboard.index') }}"><i class="la la-dashboard"></i><span>Dashboard</span></a></li>
        </ul>
        <span class="heading">Garage</span>
        <ul class="list-unstyled">
            <li{% if app.current_route starts with 'app.garage' %} class="active"{% endif %}><a href="{{ path('app.garage.index') }}"><i class="la la-automobile"></i><span>Garage</span></a></li>
        </ul>
        <span class="heading">Search</span>
        <ul class="list-unstyled">
            <li{% if app.current_route == 'app.page.search.garage' %} class="active"{% endif %}><a href="{{ path('app.page.search.garage') }}"><i class="la la-search"></i><span>Garage</span></a></li>
            <li{% if app.current_route == 'app.page.search.race' %} class="active"{% endif %}><a href="{{ path('app.page.search.race') }}"><i class="la la-search"></i><span>Race</span></a></li>
        </ul>
        <span class="heading">Pages</span>
        <ul class="list-unstyled">
            {{ component('SidebarSubLevel', { link: 'app.page.filter', title: 'Filters', drop: 'filter' }) }}
                    <li><a href="{{ path('app.page.filter.locked', {'letter': 'S'}) }}"><span>Locked</span></a></li>
                    <li><a href="{{ path('app.page.filter.unlock', {'letter': 'S'}) }}"><span>Unlock</span></a></li>
                    <li><a href="{{ path('app.page.filter.gold', {'letter': 'S'}) }}"><span>Gold</span></a></li>
                    <li><a href="{{ path('app.page.filter.to.unlock', {'letter': 'S'}) }}"><span>To Unlock</span></a></li>
                    <li><a href="{{ path('app.page.filter.to.upgrade', {'letter': 'S'}) }}"><span>To Upgrade</span></a></li>
                    <li><a href="{{ path('app.page.filter.to.gold', {'letter': 'S'}) }}"><span>To Gold</span></a></li>
                </ul>
            </li>
            {{ component('SidebarSubLevel', { link: 'app.page.order', title: 'Orders', drop: 'order' }) }}
                    <li><a href="{{ path('app.page.order.class', {'letter': 'S'}) }}"><span>Class</span></a></li>
                    <li><a href="{{ path('app.page.order.stat', {'letter': 'S'}) }}"><span>Stat</span></a></li>
                    <li><a href="{{ path('app.page.order.event', {'letter': 'S'}) }}"><span>Event</span></a></li>
                </ul>
            </li>
            {{ component('SidebarSubLevel', { link: 'app.page.setting', title: 'Settings', drop: 'setting' }) }}
                    <li><a href="{{ path('app.page.setting.level', {'letter': 'S'}) }}"><span>Level</span></a></li>
                    <li><a href="{{ path('app.page.setting.blueprint', {'letter': 'S'}) }}"><span>Blueprint</span></a></li>
                    <li><a href="{{ path('app.page.setting.rank', {'letter': 'S'}) }}"><span>Rank</span></a></li>
                </ul>
            </li>
            <li{% if app.current_route starts with 'app.race' %} class="active"{% endif %}><a href="{{ path('app.race.index') }}"><i class="la la-trophy"></i><span>Race</span></a></li>
{#            <li{% if app.current_route starts with 'app.mission' %} class="active"{% endif %}><a href="{{ path('app.mission.index') }}"><i class="la la-bullseye"></i><span>Mission</span></a></li>#}
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->
