{% extends '@App/bases/full.html.twig' %}

{% block datas %}
    <table class="{{ classes.table_index }}">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for time in times %}
            <tr>
                <td class="text-center">{{ time.id }}</td>
                <td class="text-center">{{ time.name }}</td>
                <td class="text-end">{{ component('ButtonEdit', {id: time.id, slug: null, path: 'admin.race.time.update', target: false}) }}</td>
            </tr>
        {% else %}
            	{{ component('TableNoRecords', {value: 3}) }}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
