{% block table %}

    <tbody>
    {% for item in entities %}
        <tr>
            <td class="{{ classes.td }}">item.id</td>
            <td class="{{ classes.td }}">{{ item.category }}</td>
            <td class="{{ classes.td }}">{{ item.label }}</td>
            <td class="{{ classes.td }}">{{ item.value }}</td>
            <td class="{{ classes.td }} text-center">{{ item.filter }}</td>
            <td class="{{ classes.td }}">{{ item.position }}</td>
            <td class="{{ classes.td }} text-center">{{ component('ValueBoolean', {value: item.active}) }}</td>
            <td class="{{ classes.td }}">{{ item.slug }}</td>
            <twig:TableDate entity="{{ item }}" />
            <twig:TableAction id="{{ item.id }}" link="{{ 'admin.inventory.app.update' }}" />
        </tr>
    {% else %}
        <twig:TableEmpty value="11" />
    {% endfor %}
    </tbody>

    <thead>
        {{ _self.legend() }}
    </thead>
    <tfoot>
        {{ _self.legend() }}
    </tfoot>
{% endblock %}

{% macro legend() %}
    <tr>
        <th>{{ 'text.id'|trans }}</th>
        <th>{{ 'text.category'|trans }}</th>
        <th>{{ 'text.label'|trans }}</th>
        <th>{{ 'text.value'|trans }}</th>
        <th>{{ 'text.filter'|trans }}</th>
        <th>{{ 'text.position'|trans }}</th>
        <th>{{ 'text.active'|trans }}</th>
        <th>{{ 'text.slug'|trans }}</th>
        <th>{{ 'text.date.created.at'|trans }}</th>
        <th>{{ 'text.date.updated.at'|trans }}</th>
        <th>{{ 'text.action'|trans }}</th>
    </tr>
{% endmacro %}

{% extends '@App/contents/back/list.html.twig' %}
