{% extends '@App/base.html.twig' %}

{% block body %}

    {% block preloader %}
{#        {% include '@App/partials/front/loader.html.twig' %}#}
    {% endblock %}

    {% block header %}
        {% include '@App/partials/front/header.html.twig' %}
    {% endblock %}

<main class="{% block mainClass %}{{ container|default('container') }}{% endblock %} h-100">
    {% block breadcrumb %}
        {% include '@App/partials/front/breadcrumb.html.twig' %}
    {% endblock %}

    {% block content %}{% endblock %}
</main>

    {% block footer %}
        {% include '@App/partials/front/footer.html.twig' %}
    {% endblock %}

{% endblock %}





{% block stylesheets %}
    {{ parent() }}
    <!-- Stylesheets -->
    <link href="{{ asset('libraries/fontawesome/7.2.0/css/all.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- Scripts -->
    <script src="{{ asset('libraries/jquery/3.7.1.min.js') }}"></script>
    <script src="{{ asset('libraries/bootstrap/5.3.8/js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
