{% extends '@App/bases/back/full.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.level01 }}</td>
        <td>{{ item.level02 }}</td>
        <td>{{ item.level03 }}</td>
        <td>{{ item.level04 }}</td>
        <td>{{ item.level05 }}</td>
        <td>{{ item.level06 }}</td>
        <td>{{ item.level07 }}</td>
        <td>{{ item.level08 }}</td>
        <td>{{ item.level09 }}</td>
        <td>{{ item.level10 }}</td>
        <td>{{ item.level11 }}</td>
        <td>{{ item.level12 }}</td>
        <td>{{ item.level13 }}</td>
        <td>{{ item.common }}</td>
        <td>{{ item.rare }}</td>
        <td>{{ item.epic }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ component('ValueDate', {value: item.createdAt}) }}</td>
        <td>{{ component('ValueDate', {value: item.updatedAt}) }}</td>
        <td><a href="{{ path('app.setting.unit-price.update', {'id': item.id}) }}">edit</a></td>
    </tr>
{% else %}
    {{ component('TableNoRecords', {value: 21}) }}
{% endfor %}
</tbody>
<thead>
    {{ _self.tr() }}
</thead>
<tfoot>
    {{ _self.tr() }}
</tfoot>
{% endblock %}

{% macro tr() %}
<tr>
    <th>{{ 'table.id' | trans }}</th>
    <th>{{ 'table.level01' | trans }}</th>
    <th>{{ 'table.level02' | trans }}</th>
    <th>{{ 'table.level03' | trans }}</th>
    <th>{{ 'table.level04' | trans }}</th>
    <th>{{ 'table.level05' | trans }}</th>
    <th>{{ 'table.level06' | trans }}</th>
    <th>{{ 'table.level07' | trans }}</th>
    <th>{{ 'table.level08' | trans }}</th>
    <th>{{ 'table.level09' | trans }}</th>
    <th>{{ 'table.level10' | trans }}</th>
    <th>{{ 'table.level11' | trans }}</th>
    <th>{{ 'table.level12' | trans }}</th>
    <th>{{ 'table.level13' | trans }}</th>
    <th>{{ 'table.common' | trans }}</th>
    <th>{{ 'table.rare' | trans }}</th>
    <th>{{ 'table.epic' | trans }}</th>
    <th>{{ 'table.slug' | trans }}</th>
    <th>{{ 'table.createdat' | trans }}</th>
    <th>{{ 'table.updatedat' | trans }}</th>
    <th>{{ 'table.actions' | trans }}</th>
</tr>
{% endmacro %}
