{% extends '@App/bases/back/full.html.twig' %}

{% block table %}
<tbody>
{% for item in entities %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.level01 }}</td>
        <td>{{ item.level02 }}</td>
        <td>{{ item.level03 }}</td>
        <td>{{ item.level04 }}</td>
        <td>{{ item.level05 }}</td>
        <td>{{ item.level06 }}</td>
        <td>{{ item.level07 }}</td>
        <td>{{ item.level08 }}</td>
        <td>{{ item.level09 }}</td>
        <td>{{ item.level10 }}</td>
        <td>{{ item.level11 }}</td>
        <td>{{ item.level12 }}</td>
        <td>{{ item.level13 }}</td>
        <td>{{ item.common }}</td>
        <td>{{ item.rare }}</td>
        <td>{{ item.epic }}</td>
        <td>{{ item.slug }}</td>
        <td>{{ item.deletedAt ? item.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ item.createdAt ? item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        <td>{{ item.updatedAt ? item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        <td><a href="{{ path('app.setting.unit-price.update', {'id': item.id}) }}">edit</a></td>
    </tr>
{% else %}
    <tr>
        <td colspan="22">no records found</td>
    </tr>
{% endfor %}
</tbody>
<thead>
    {{ _self.tr() }}
</thead>
<tfoot>
    {{ _self.tr() }}
</tfoot>
{% endblock %}

{% macro tr() %}
<tr>
    <th>Id</th>
    <th>Level01</th>
    <th>Level02</th>
    <th>Level03</th>
    <th>Level04</th>
    <th>Level05</th>
    <th>Level06</th>
    <th>Level07</th>
    <th>Level08</th>
    <th>Level09</th>
    <th>Level10</th>
    <th>Level11</th>
    <th>Level12</th>
    <th>Level13</th>
    <th>Common</th>
    <th>Rare</th>
    <th>Epic</th>
    <th>Slug</th>
    <th>DeletedAt</th>
    <th>CreatedAt</th>
    <th>UpdatedAt</th>
    <th>actions</th>
</tr>
{% endmacro %}

