<div class="card-title">
    <h4 class="text-center">{{ 'text.blueprint'|trans|plural }}</h4>
</div>
<table class="{{ classes.table.default }}">
    <thead>
        <tr class="text-center">
            <th>{{ 'text.total'|trans }}</th>
            <th><twig:ValueIcon repeat="{{ 1 }}" icon="fa-solid fa-star" /></th>
            <th><twig:ValueIcon repeat="{{ 2 }}" icon="fa-solid fa-star" /></th>
            <th><twig:ValueIcon repeat="{{ 3 }}" icon="fa-solid fa-star" /></th>
            <th><twig:ValueIcon repeat="{{ 4 }}" icon="fa-solid fa-star" /></th>
            <th><twig:ValueIcon repeat="{{ 5 }}" icon="fa-solid fa-star" /></th>
            <th><twig:ValueIcon repeat="{{ 6 }}" icon="fa-solid fa-star" /></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>{{ entity.blueprint.total }}</td>
            <td>{{ entity.blueprint.star1 }}</td>
            <td>{{ entity.blueprint.star2 }}</td>
            <td>{{ entity.blueprint.star3 }}</td>
            <td>{{ entity.blueprint.star4 }}</td>
            <td>{{ entity.blueprint.star5 }}</td>
            <td>{{ entity.blueprint.star6 }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ entity.settingBlueprint.total }}</td>
            <td>{{ entity.settingBlueprint.star1 }}</td>
            <td>{{ entity.settingBlueprint.star2 }}</td>
            <td>{{ entity.settingBlueprint.star3 }}</td>
            <td>{{ entity.settingBlueprint.star4 }}</td>
            <td>{{ entity.settingBlueprint.star5 }}</td>
            <td>{{ entity.settingBlueprint.star6 }}</td>
        </tr>
        <tr class="text-center">
            <td>{{ _self.calculate(entity.settingBlueprint.total, entity.blueprint.total) }}</td>
            <td>
            {% if entity.settingBlueprint.star1 matches '/^\\d+$/' %}
                {{ _self.calculate(entity.settingBlueprint.star1, entity.blueprint.star1) }}
            {% else %}
                {{ _self.calculateKey(entity.settingBlueprint.star1, entity.blueprint.star1) }}
            {% endif %}
            </td>
            <td>{{ _self.calculate(entity.settingBlueprint.star2, entity.blueprint.star2) }}</td>
            <td>{{ _self.calculate(entity.settingBlueprint.star3, entity.blueprint.star3) }}</td>
            <td>{{ _self.calculate(entity.settingBlueprint.star4, entity.blueprint.star4) }}</td>
            <td>{{ _self.calculate(entity.settingBlueprint.star5, entity.blueprint.star5) }}</td>
            <td>{{ _self.calculate(entity.settingBlueprint.star6, entity.blueprint.star6) }}</td>
        </tr>
    </tbody>
</table>

{% macro calculate(setting, garage) %}
    {% if (setting - garage) == 0 %}
        <span class="text-success">-</span>
    {% else %}
        <span class="text-danger">{{ setting - garage }}</span>
    {% endif %}
{% endmacro %}

{% macro calculateKey(setting, garage) %}
    {% if setting == 'Key' and garage == 'Key' %}
        <span class="text-success">-</span>
    {% else %}
        <span class="text-danger">Key</span>
    {% endif %}
{% endmacro %}
