    <thead class="text-center">
        <tr>
            <th>{{ 'text.level'|trans }}</th>
            <th>{{ 'text.epic'|trans }}</th>
            <th>{{ 'text.order.class'|trans }}</th>
            <th>{{ 'text.order.stat'|trans }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>{{ entity.level ~ ' / ' ~ entity.settingLevel.level }}</td>
            <td>{{ entity.epic ~ ' / ' ~ entity.settingLevel.epic }}</td>
            <td>{{ entity.carOrder  ~ ' / ' ~ entity.settingClass.carsNumber }}</td>
            <td>{{ entity.statOrder  ~ ' / ' ~ entity.settingClass.carsNumber }}</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
