<!DOCTYPE html>
<html lang="{{ app.request.locale|default('en') }}" data-bs-theme="{{ theme }}">
<head>
<title>{% block title %}{{ controller_name|default('Title Page') }}{% endblock %}</title>
{% block meta %}
    {% include '@App/partials/meta.html.twig' %}
{% endblock %}

{% block favicons %}
    {% include '@App/partials/favicon.html.twig' %}
{% endblock %}

{% block stylesheets %}{% endblock %}

    <!--begin::Fonts-->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('styles/fonts.css') }}" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('libraries/fontawesome/7.2.0/css/all.min.css') }}" />
    <!--end::Fonts-->
    {#<link rel="stylesheet" href="{{ asset('styles/scrollbar.css') }}" crossorigin="anonymous" media="screen" />#}
</head>

<body{% block body %}{% endblock %}>

{% block wrapper %}
    {% block preloader %}{% endblock %}
{% endblock %}

{% block js %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
