{#{{ attributes }}>#}
<td class="{{ classes.table.td }} text-end">
    {{ component('ValueDate', {value: entity.createdAt}) }}
</td>
<td class="{{ classes.table.td }} text-end">
    {{ component('ValueDate', {value: entity.updatedAt}) }}
</td>
